In [1]:
import pandas as pd
from sqlalchemy import create_engine, engine
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import datetime

In [2]:
def line(num):
    if num >= 0.5:
        number = num
    else:
        number = 1 - num

    if 0.5 <= number <= 0.511:
        y = "-1"
    elif 0.512 <= number <= 0.523:
        y = "-1.5"
    elif 0.524 <= number <= 0.543:
        y = "-2"
    elif 0.544 <= number <= 0.563:
        y = "-2.5"
    elif 0.564 <= number <= 0.582:
        y = "-3"
    elif 0.583 <= number <= 0.601:
        y = "-3.5"
    elif 0.602 <= number <= 0.619:
        y = "-4"
    elif 0.62 <= number <= 0.636:
        y = "-4.5"
    elif 0.637 <= number <= 0.658:
        y = "-5"
    elif 0.659 <= number <= 0.68:
        y = "-5.5"
    elif 0.681 <= number <= 0.701:
        y = "-6"
    elif 0.702 <= number <= 0.721:
        y = "-6.5"
    elif 0.722 <= number <= 0.742:
        y = "-7"
    elif 0.743 <= number <= 0.763:
        y = "-7.5"
    elif 0.764 <= number <= 0.784:
        y = "-8"
    elif 0.785 <= number <= 0.805:
        y = "-8.5"
    elif 0.806 <= number <= 0.828:
        y = "-9"
    elif 0.829 <= number <= 0.852:
        y = "-9.5"
    elif 0.853 <= number <= 0.873:
            y = "-10"
    elif 0.874 <= number <= 0.894:
        y = "-10.5"
    elif 0.895 <= number <= 0.913:
        y = "-11"
    elif 0.914 <= number <= 0.932:
        y = "-11.5"
    elif number > 0.933:
        y = "-12"
    
    return y

In [3]:
engine = create_engine('postgres://awajcqhq:4CfuU4ZPzBv5ax89ArRPL9P51juwwfQf@queenie.db.elephantsql.com:5432/awajcqhq')

In [4]:
home_df = pd.read_sql("SELECT * FROM home",con=engine)
away_df = pd.read_sql("SELECT * FROM away",con=engine)
today_df = pd.read_sql("SELECT * FROM today",con=engine)
teams_df = pd.read_sql("SELECT * FROM teams",con=engine)
elo_df = pd.read_sql("SELECT * FROM current_elo", con=engine)

In [5]:
home_add = today_df.merge(home_df, left_on="HOME_TEAM_ID", right_on="team_id", how="left")

In [6]:
final = home_add.merge(away_df, left_on="VISITOR_TEAM_ID", right_on="team_id", how="left")
final.columns

Index(['game_id', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'team_id_x',
       'TEAM_ABBREVIATION_x', 'GAME_DATE_x', 'fg_pct_3_h', 'fg3_pct_3_h',
       'ft_pct_3_h', 'oreb_3_h', 'dreb_3_h', 'ast_3_h', 'tov_3_h', 'stl_3_h',
       'blk_3_h', 'pts_3_h', 'fg_pct_7_h', 'fg3_pct_7_h', 'ft_pct_7_h',
       'oreb_7_h', 'dreb_7_h', 'ast_7_h', 'tov_7_h', 'stl_7_h', 'blk_7_h',
       'pts_7_h', 'team_id_y', 'TEAM_ABBREVIATION_y', 'GAME_DATE_y',
       'fg_pct_3_a', 'fg3_pct_3_a', 'ft_pct_3_a', 'oreb_3_a', 'dreb_3_a',
       'ast_3_a', 'tov_3_a', 'stl_3_a', 'blk_3_a', 'pts_3_a', 'fg_pct_7_a',
       'fg3_pct_7_a', 'ft_pct_7_a', 'oreb_7_a', 'dreb_7_a', 'ast_7_a',
       'tov_7_a', 'stl_7_a', 'blk_7_a', 'pts_7_a'],
      dtype='object')

In [7]:
X = final[['fg_pct_3_h', 'fg3_pct_3_h', 'ft_pct_3_h',
       'oreb_3_h', 'dreb_3_h', 'ast_3_h', 'tov_3_h', 'stl_3_h', 'blk_3_h',
       'pts_3_h', 'fg_pct_7_h', 'fg3_pct_7_h', 'ft_pct_7_h', 'oreb_7_h',
       'dreb_7_h', 'ast_7_h', 'tov_7_h', 'stl_7_h', 'blk_7_h', 'pts_7_h',
        'fg_pct_3_a', 'fg3_pct_3_a', 'ft_pct_3_a', 'oreb_3_a',
       'dreb_3_a', 'ast_3_a', 'tov_3_a', 'stl_3_a', 'blk_3_a', 'pts_3_a',
       'fg_pct_7_a', 'fg3_pct_7_a', 'ft_pct_7_a', 'oreb_7_a', 'dreb_7_a',
       'ast_7_a', 'tov_7_a', 'stl_7_a', 'blk_7_a', 'pts_7_a']]

In [8]:
import pickle
filename = 'forest.sav'
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
loaded_model

RandomForestClassifier()

In [9]:
from sklearn.ensemble import RandomForestClassifier
away_win = []
home_win = []
for x in loaded_model.predict_proba(X):
    away_win.append(round(x[0], 3))
    home_win.append(round(x[1], 3))

In [10]:
today_df["home_win"] = home_win
today_df["away_win"] = away_win

In [16]:
elo_df["team_id"] = elo_df["team_id"].astype(int)

In [17]:
merged = today_df.merge(teams_df, left_on="HOME_TEAM_ID", right_on="team_id", how="left")
merged = merged.merge(teams_df, left_on="VISITOR_TEAM_ID", right_on="team_id", how="left")
merged = merged.merge(elo_df, left_on="HOME_TEAM_ID", right_on="team_id", how="left")
merged = merged.merge(elo_df, left_on="VISITOR_TEAM_ID", right_on="team_id", how="left")

In [18]:
import numpy as np
merged["projected_winner"] = np.where(merged["home_win"] > merged["away_win"], merged["abbreviation_x"], merged["abbreviation_y"])
merged["winner_pct"] = np.where(merged["home_win"] > merged["away_win"], merged["home_win"], merged["away_win"])

In [20]:
merged

,game_id,HOME_TEAM_ID,VISITOR_TEAM_ID,home_win,away_win,team_id_x,abbreviation_x,nickname_x,city_x,team_id_y,abbreviation_y,nickname_y,city_y,team_id_x,elo_x,team_id_y,elo_y,projected_winner,winner_pct
0,0022000653,1610612739,1610612758,0.41,0.59,1610612739,CLE,Cavaliers,Cleveland,1610612758,SAC,Kings,Sacramento,1610612739,1355.97,1610612758,1406.83,SAC,0.59
1,0022000654,1610612750,1610612760,0.60,0.40,1610612750,MIN,Timberwolves,Minnesota,1610612760,OKC,Thunder,Oklahoma City,1610612750,1327.66,1610612760,1429.92,MIN,0.60
2,0022000655,1610612759,1610612766,0.38,0.62,1610612759,SAS,Spurs,San Antonio,1610612766,CHA,Hornets,Charlotte,1610612759,1519.02,1610612766,1439.91,CHA,0.62
3,0022000656,1610612741,1610612762,0.39,0.61,1610612741,CHI,Bulls,Chicago,1610612762,UTA,Jazz,Utah,1610612741,1502.60,1610612762,1626.30,UTA,0.61
4,0022000657,1610612745,1610612761,0.66,0.34,1610612745,HOU,Rockets,Houston,1610612761,TOR,Raptors,Toronto,1610612745,1309.99,1610612761,1451.43,HOU,0.66
5,0022000658,1610612763,1610612738,0.50,0.50,1610612763,MEM,Grizzlies,Memphis,1610612738,BOS,Celtics,Boston,1610612763,1532.61,1610612738,1520.60,BOS,0.50
6,0022000659,1610612749,1610612754,0.34,0.66,1610612749,MIL,Bucks,Milwaukee,1610612754,IND,Pacers,Indiana,1610612749,1644.33,1610612754,1490.46,IND,0.66
7,0022000660,1610612746,1610612737,0.37,0.63,1610612746,LAC,Clippers,Los Angeles,1610612737,ATL,Hawks,Atlanta,1610612746,1576.53,1610612737,1524.95,ATL,0.63

In [21]:
merged = merged[["game_id", "abbreviation_x", "home_win", "abbreviation_y", "away_win", "projected_winner","winner_pct", "elo_x", "elo_y"]]

In [22]:
final = merged.rename(columns={"abbreviation_x": "home", "abbreviation_y": "away", "elo_x": "elo_home", "elo_y": "elo_away"})

In [23]:
final["predicted_line"] = final["home_win"].apply(line)
final["winner_pct"] = final["winner_pct"]*100

In [25]:
results = final[["game_id", "home", "away", "home_win", "away_win", "projected_winner", "winner_pct", "predicted_line", "elo_home", "elo_away"]]

In [26]:
engine = create_engine('postgres://awajcqhq:4CfuU4ZPzBv5ax89ArRPL9P51juwwfQf@queenie.db.elephantsql.com:5432/awajcqhq')
conn = engine.connect()
results.to_sql(name='model', con=engine, if_exists='replace', index=False)

In [27]:
with engine.connect() as con:
    con.execute('ALTER TABLE model ADD PRIMARY KEY (game_id);')

In [28]:
conn.close()

In [29]:
results

,game_id,home,away,home_win,away_win,projected_winner,winner_pct,predicted_line,elo_home,elo_away
0,0022000653,CLE,SAC,0.41,0.59,SAC,59.0,-3.5,1355.97,1406.83
1,0022000654,MIN,OKC,0.60,0.40,MIN,60.0,-3.5,1327.66,1429.92
2,0022000655,SAS,CHA,0.38,0.62,CHA,62.0,-4.5,1519.02,1439.91
3,0022000656,CHI,UTA,0.39,0.61,UTA,61.0,-4,1502.60,1626.30
4,0022000657,HOU,TOR,0.66,0.34,HOU,66.0,-5.5,1309.99,1451.43
5,0022000658,MEM,BOS,0.50,0.50,BOS,50.0,-1,1532.61,1520.60
6,0022000659,MIL,IND,0.34,0.66,IND,66.0,-5.5,1644.33,1490.46
7,0022000660,LAC,ATL,0.37,0.63,ATL,63.0,-4.5,1576.53,1524.95