In [1]:
import pandas as pd
from sqlalchemy import create_engine, engine
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [2]:
engine = create_engine('postgres://awajcqhq:4CfuU4ZPzBv5ax89ArRPL9P51juwwfQf@queenie.db.elephantsql.com:5432/awajcqhq')

In [6]:
home_df = pd.read_sql("SELECT * FROM home",con=engine)
away_df = pd.read_sql("SELECT * FROM away",con=engine)
today_df = pd.read_sql("SELECT * FROM today",con=engine)
teams_df = pd.read_sql("SELECT * FROM teams",con=engine)

In [7]:
home_add = today_df.merge(home_df, left_on="HOME_TEAM_ID", right_on="team_id", how="left")
home_add

,game_id,HOME_TEAM_ID,VISITOR_TEAM_ID,team_id,TEAM_ABBREVIATION,GAME_DATE,fg_pct_3_h,fg3_pct_3_h,ft_pct_3_h,oreb_3_h,...,fg_pct_7_h,fg3_pct_7_h,ft_pct_7_h,oreb_7_h,dreb_7_h,ast_7_h,tov_7_h,stl_7_h,blk_7_h,pts_7_h
0,0022000435,1610612739,1610612759,1.610613e+09,CLE,2021-03-17T00:00:00,0.509667,0.405000,0.790000,10.333333,...,0.496857,0.376857,0.755714,10.142857,31.285714,25.285714,18.285714,6.571429,4.714286,107.857143
1,0022000631,1610612738,1610612758,1.610613e+09,BOS,2021-03-16T00:00:00,0.528667,0.431000,0.738000,13.000000,...,0.513000,0.394000,0.767571,11.285714,31.857143,25.000000,14.857143,6.714286,5.285714,117.428571
2,0022000632,1610612748,1610612754,1.610613e+09,MIA,2021-03-16T00:00:00,0.439333,0.323333,0.726000,10.000000,...,0.445286,0.370000,0.807143,10.000000,31.857143,25.000000,12.285714,8.428571,4.285714,107.285714
3,0022000633,1610612753,1610612751,1.610613e+09,ORL,2021-03-14T00:00:00,0.454667,0.419667,0.809333,8.000000,...,0.445429,0.394000,0.802143,7.714286,37.857143,25.714286,11.714286,6.285714,4.571429,109.142857
4,0022000634,1610612761,1610612762,1.610613e+09,TOR,2021-03-11T00:00:00,0.443000,0.394000,0.874000,10.333333,...,0.446714,0.357429,0.878714,9.000000,33.142857,24.857143,12.571429,7.285714,5.857143,112.285714
5,0022000635,1610612745,1610612765,1.610613e+09,HOU,2021-03-17T00:00:00,0.425000,0.320333,0.657000,9.333333,...,0.394714,0.302429,0.706857,9.571429,29.428571,19.428571,13.571429,8.285714,4.714286,99.428571
6,0022000636,1610612763,1610612744,1.610613e+09,MEM,2021-03-17T00:00:00,0.439333,0.362000,0.805000,10.000000,...,0.452143,0.383286,0.799857,9.857143,38.714286,26.142857,12.000000,8.428571,4.571429,110.285714
7,0022000637,1610612743,1610612741,1.610613e+09,DEN,2021-03-17T00:00:00,0.484333,0.430000,0.752000,12.333333,...,0.461857,0.389714,0.787143,10.714286,34.428571,28.000000,11.142857,7.142857,4.428571,113.285714
8,0022000638,1610612756,1610612750,1.610613e+09,PHX,2021-03-18T00:00:00,0.533667,0.395000,0.776667,7.000000,...,0.529286,0.403714,0.854429,7.571429,35.000000,27.000000,12.285714,7.000000,4.285714,121.000000
9,0022000639,1610612757,1610612742,1.610613e+09,POR,2021-03-18T00:00:00,0.452333,0.388000,0.911667,11.000000,...,0.449571,0.387429,0.851571,10.714286,32.000000,19.571429,12.857143,8.142857,6.142857,116.000000

In [8]:
final = home_add.merge(away_df, left_on="VISITOR_TEAM_ID", right_on="team_id", how="left")
final.columns

Index(['game_id', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'team_id_x',
       'TEAM_ABBREVIATION_x', 'GAME_DATE_x', 'fg_pct_3_h', 'fg3_pct_3_h',
       'ft_pct_3_h', 'oreb_3_h', 'dreb_3_h', 'ast_3_h', 'tov_3_h', 'stl_3_h',
       'blk_3_h', 'pts_3_h', 'fg_pct_7_h', 'fg3_pct_7_h', 'ft_pct_7_h',
       'oreb_7_h', 'dreb_7_h', 'ast_7_h', 'tov_7_h', 'stl_7_h', 'blk_7_h',
       'pts_7_h', 'team_id_y', 'TEAM_ABBREVIATION_y', 'GAME_DATE_y',
       'fg_pct_3_a', 'fg3_pct_3_a', 'ft_pct_3_a', 'oreb_3_a', 'dreb_3_a',
       'ast_3_a', 'tov_3_a', 'stl_3_a', 'blk_3_a', 'pts_3_a', 'fg_pct_7_a',
       'fg3_pct_7_a', 'ft_pct_7_a', 'oreb_7_a', 'dreb_7_a', 'ast_7_a',
       'tov_7_a', 'stl_7_a', 'blk_7_a', 'pts_7_a'],
      dtype='object')

In [9]:
X = final[['fg_pct_3_h', 'fg3_pct_3_h', 'ft_pct_3_h',
       'oreb_3_h', 'dreb_3_h', 'ast_3_h', 'tov_3_h', 'stl_3_h', 'blk_3_h',
       'pts_3_h', 'fg_pct_7_h', 'fg3_pct_7_h', 'ft_pct_7_h', 'oreb_7_h',
       'dreb_7_h', 'ast_7_h', 'tov_7_h', 'stl_7_h', 'blk_7_h', 'pts_7_h',
        'fg_pct_3_a', 'fg3_pct_3_a', 'ft_pct_3_a', 'oreb_3_a',
       'dreb_3_a', 'ast_3_a', 'tov_3_a', 'stl_3_a', 'blk_3_a', 'pts_3_a',
       'fg_pct_7_a', 'fg3_pct_7_a', 'ft_pct_7_a', 'oreb_7_a', 'dreb_7_a',
       'ast_7_a', 'tov_7_a', 'stl_7_a', 'blk_7_a', 'pts_7_a']]

In [17]:
import pickle
filename = 'forest.sav'
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
loaded_model

RandomForestClassifier(n_estimators=80)

In [18]:
from sklearn.ensemble import RandomForestClassifier
array = loaded_model.predict(X)

In [19]:
today_df["home_win"] = array

In [20]:
merged = today_df.merge(teams_df, left_on="HOME_TEAM_ID", right_on="team_id", how="left")
merged = merged.merge(teams_df, left_on="VISITOR_TEAM_ID", right_on="team_id", how="left")
merged

,game_id,HOME_TEAM_ID,VISITOR_TEAM_ID,home_win,team_id_x,abbreviation_x,nickname_x,city_x,team_id_y,abbreviation_y,nickname_y,city_y
0,0022000435,1610612739,1610612759,1.0,1610612739,CLE,Cavaliers,Cleveland,1610612759,SAS,Spurs,San Antonio
1,0022000631,1610612738,1610612758,1.0,1610612738,BOS,Celtics,Boston,1610612758,SAC,Kings,Sacramento
2,0022000632,1610612748,1610612754,1.0,1610612748,MIA,Heat,Miami,1610612754,IND,Pacers,Indiana
3,0022000633,1610612753,1610612751,1.0,1610612753,ORL,Magic,Orlando,1610612751,BKN,Nets,Brooklyn
4,0022000634,1610612761,1610612762,1.0,1610612761,TOR,Raptors,Toronto,1610612762,UTA,Jazz,Utah
5,0022000635,1610612745,1610612765,0.0,1610612745,HOU,Rockets,Houston,1610612765,DET,Pistons,Detroit
6,0022000636,1610612763,1610612744,1.0,1610612763,MEM,Grizzlies,Memphis,1610612744,GSW,Warriors,Golden State
7,0022000637,1610612743,1610612741,0.0,1610612743,DEN,Nuggets,Denver,1610612741,CHI,Bulls,Chicago
8,0022000638,1610612756,1610612750,1.0,1610612756,PHX,Suns,Phoenix,1610612750,MIN,Timberwolves,Minnesota
9,0022000639,1610612757,1610612742,0.0,1610612757,POR,Trail Blazers,Portland,1610612742,DAL,Mavericks,Dallas

In [21]:
import numpy as np
merged["projected_winner"] = np.where(merged["home_win"]==1, merged["abbreviation_x"], merged["abbreviation_y"])

In [22]:
merged = merged[["game_id", "abbreviation_x", "abbreviation_y", "projected_winner"]]

In [23]:
final = merged.rename(columns={"abbreviation_x": "home", "abbreviation_y": "away",})
final

      game_id home away projected_winner
0  0022000435  CLE  SAS              CLE
1  0022000631  BOS  SAC              BOS
2  0022000632  MIA  IND              MIA
3  0022000633  ORL  BKN              ORL
4  0022000634  TOR  UTA              TOR
5  0022000635  HOU  DET              DET
6  0022000636  MEM  GSW              MEM
7  0022000637  DEN  CHI              CHI
8  0022000638  PHX  MIN              PHX
9  0022000639  POR  DAL              DAL