In [1]:
import pandas as pd
from sqlalchemy import create_engine, engine
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [2]:
def decimal(num):
    x = round((1 / num), 2)
    return x

In [3]:
def line(num):
    if num >= 0.5:
        number = num
    else:
        number = 1 - num

    if 0.5 <= number <= 0.511:
        y = "-1"
    elif 0.512 <= number <= 0.523:
        y = "-1.5"
    elif 0.524 <= number <= 0.543:
        y = "-2"
    elif 0.544 <= number <= 0.563:
        y = "-2.5"
    elif 0.564 <= number <= 0.582:
        y = "-3"
    elif 0.583 <= number <= 0.601:
        y = "-3.5"
    elif 0.602 <= number <= 0.619:
        y = "-4"
    elif 0.62 <= number <= 0.636:
        y = "-4.5"
    elif 0.637 <= number <= 0.658:
        y = "-5"
    elif 0.659 <= number <= 0.68:
        y = "-5.5"
    elif 0.681 <= number <= 0.701:
        y = "-6"
    elif 0.702 <= number <= 0.721:
        y = "-6.5"
    elif 0.722 <= number <= 0.742:
        y = "-7"
    elif 0.743 <= number <= 0.763:
        y = "-7.5"
    elif 0.764 <= number <= 0.784:
        y = "-8"
    elif 0.785 <= number <= 0.805:
        y = "-8.5"
    elif 0.806 <= number <= 0.828:
        y = "-9"
    elif 0.829 <= number <= 0.852:
        y = "-9.5"
    elif 0.853 <= number <= 0.873:
            y = "-10"
    elif 0.874 <= number <= 0.894:
        y = "-10.5"
    elif 0.895 <= number <= 0.913:
        y = "-11"
    elif 0.914 <= number <= 0.932:
        y = "-11.5"
    elif number > 0.933:
        y = "-12"
    
    return y

In [4]:
def american(y):
    if y >= 2:
        x =  (y-1)*100
    else:
        x =  -100/(y -1)
    return round(x,0)

In [5]:
engine = create_engine('postgres://awajcqhq:4CfuU4ZPzBv5ax89ArRPL9P51juwwfQf@queenie.db.elephantsql.com:5432/awajcqhq')

In [6]:
home_df = pd.read_sql("SELECT * FROM home",con=engine)
away_df = pd.read_sql("SELECT * FROM away",con=engine)
today_df = pd.read_sql("SELECT * FROM today",con=engine)
teams_df = pd.read_sql("SELECT * FROM teams",con=engine)

In [7]:
home_add = today_df.merge(home_df, left_on="HOME_TEAM_ID", right_on="team_id", how="left")
home_add

,game_id,HOME_TEAM_ID,VISITOR_TEAM_ID,team_id,TEAM_ABBREVIATION,GAME_DATE,fg_pct_3_h,fg3_pct_3_h,ft_pct_3_h,oreb_3_h,...,fg_pct_7_h,fg3_pct_7_h,ft_pct_7_h,oreb_7_h,dreb_7_h,ast_7_h,tov_7_h,stl_7_h,blk_7_h,pts_7_h
0,0022000640,1610612747,1610612737,1.610613e+09,LAL,2021-03-18T00:00:00,0.500000,0.383667,0.792000,9.000000,...,0.481143,0.351571,0.746000,10.428571,36.142857,24.857143,14.571429,8.285714,6.571429,115.000000
1,0022000641,1610612755,1610612758,1.610613e+09,PHI,2021-03-17T00:00:00,0.458667,0.400667,0.666000,12.666667,...,0.478714,0.388857,0.743429,9.714286,38.428571,26.000000,14.285714,9.714286,7.428571,117.000000
2,0022000642,1610612763,1610612744,1.610613e+09,MEM,2021-03-19T00:00:00,0.425667,0.348667,0.856667,8.333333,...,0.440857,0.344571,0.817286,10.142857,38.142857,25.714286,14.000000,8.857143,5.285714,107.571429
3,0022000643,1610612749,1610612759,1.610613e+09,MIL,2021-03-11T00:00:00,0.475667,0.355000,0.808000,8.000000,...,0.485714,0.382429,0.768857,9.428571,39.428571,24.428571,12.142857,6.857143,6.000000,118.571429
4,0022000644,1610612746,1610612766,1.610613e+09,LAC,2021-03-11T00:00:00,0.497333,0.456000,0.721667,11.333333,...,0.492429,0.421286,0.768857,10.428571,37.000000,25.000000,13.285714,6.142857,3.714286,119.714286

In [8]:
final = home_add.merge(away_df, left_on="VISITOR_TEAM_ID", right_on="team_id", how="left")
final.columns

Index(['game_id', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'team_id_x',
       'TEAM_ABBREVIATION_x', 'GAME_DATE_x', 'fg_pct_3_h', 'fg3_pct_3_h',
       'ft_pct_3_h', 'oreb_3_h', 'dreb_3_h', 'ast_3_h', 'tov_3_h', 'stl_3_h',
       'blk_3_h', 'pts_3_h', 'fg_pct_7_h', 'fg3_pct_7_h', 'ft_pct_7_h',
       'oreb_7_h', 'dreb_7_h', 'ast_7_h', 'tov_7_h', 'stl_7_h', 'blk_7_h',
       'pts_7_h', 'team_id_y', 'TEAM_ABBREVIATION_y', 'GAME_DATE_y',
       'fg_pct_3_a', 'fg3_pct_3_a', 'ft_pct_3_a', 'oreb_3_a', 'dreb_3_a',
       'ast_3_a', 'tov_3_a', 'stl_3_a', 'blk_3_a', 'pts_3_a', 'fg_pct_7_a',
       'fg3_pct_7_a', 'ft_pct_7_a', 'oreb_7_a', 'dreb_7_a', 'ast_7_a',
       'tov_7_a', 'stl_7_a', 'blk_7_a', 'pts_7_a'],
      dtype='object')

In [9]:
X = final[['fg_pct_3_h', 'fg3_pct_3_h', 'ft_pct_3_h',
       'oreb_3_h', 'dreb_3_h', 'ast_3_h', 'tov_3_h', 'stl_3_h', 'blk_3_h',
       'pts_3_h', 'fg_pct_7_h', 'fg3_pct_7_h', 'ft_pct_7_h', 'oreb_7_h',
       'dreb_7_h', 'ast_7_h', 'tov_7_h', 'stl_7_h', 'blk_7_h', 'pts_7_h',
        'fg_pct_3_a', 'fg3_pct_3_a', 'ft_pct_3_a', 'oreb_3_a',
       'dreb_3_a', 'ast_3_a', 'tov_3_a', 'stl_3_a', 'blk_3_a', 'pts_3_a',
       'fg_pct_7_a', 'fg3_pct_7_a', 'ft_pct_7_a', 'oreb_7_a', 'dreb_7_a',
       'ast_7_a', 'tov_7_a', 'stl_7_a', 'blk_7_a', 'pts_7_a']]

In [10]:
import pickle
filename = 'forest.sav'
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
loaded_model

RandomForestClassifier()

In [11]:
from sklearn.ensemble import RandomForestClassifier
array = loaded_model.predict_proba(X)

In [12]:
array

array([[0.49, 0.51],
       [0.62, 0.38],
       [0.38, 0.62],
       [0.37, 0.63],
       [0.31, 0.69]])

In [13]:
away_win = []
home_win = []
for x in array:
    away_win.append(round(x[0], 3))
    home_win.append(round(x[1], 3))

In [14]:
today_df["home_win"] = home_win
today_df["away_win"] = away_win

In [15]:
merged = today_df.merge(teams_df, left_on="HOME_TEAM_ID", right_on="team_id", how="left")
merged = merged.merge(teams_df, left_on="VISITOR_TEAM_ID", right_on="team_id", how="left")
merged

,game_id,HOME_TEAM_ID,VISITOR_TEAM_ID,home_win,away_win,team_id_x,abbreviation_x,nickname_x,city_x,team_id_y,abbreviation_y,nickname_y,city_y
0,0022000640,1610612747,1610612737,0.51,0.49,1610612747,LAL,Lakers,Los Angeles,1610612737,ATL,Hawks,Atlanta
1,0022000641,1610612755,1610612758,0.38,0.62,1610612755,PHI,76ers,Philadelphia,1610612758,SAC,Kings,Sacramento
2,0022000642,1610612763,1610612744,0.62,0.38,1610612763,MEM,Grizzlies,Memphis,1610612744,GSW,Warriors,Golden State
3,0022000643,1610612749,1610612759,0.63,0.37,1610612749,MIL,Bucks,Milwaukee,1610612759,SAS,Spurs,San Antonio
4,0022000644,1610612746,1610612766,0.69,0.31,1610612746,LAC,Clippers,Los Angeles,1610612766,CHA,Hornets,Charlotte

In [16]:
import numpy as np
merged["projected_winner"] = np.where(merged["home_win"] > merged["away_win"], merged["abbreviation_x"], merged["abbreviation_y"])

In [17]:
merged = merged[["game_id", "abbreviation_x", "home_win", "abbreviation_y", "away_win", "projected_winner"]]

In [18]:
final = merged.rename(columns={"abbreviation_x": "home", "abbreviation_y": "away",})
final

      game_id home  home_win away  away_win projected_winner
0  0022000640  LAL      0.51  ATL      0.49              LAL
1  0022000641  PHI      0.38  SAC      0.62              SAC
2  0022000642  MEM      0.62  GSW      0.38              MEM
3  0022000643  MIL      0.63  SAS      0.37              MIL
4  0022000644  LAC      0.69  CHA      0.31              LAC

In [19]:
final["home_decimal_odds"] = decimal(final["home_win"])
final["away_decimal_odds"] = decimal(final["away_win"])

In [20]:
final["home_ml"] = final["home_decimal_odds"].apply(american)
final["away_ml"] = final["away_decimal_odds"].apply(american)

In [21]:
final["predicted_line"] = final["home_win"].apply(line)

In [22]:
final[["game_id", "home", "home_win", "away", "away_win", "projected_winner", "predicted_line"]]

      game_id home  home_win away  away_win projected_winner predicted_line
0  0022000640  LAL      0.51  ATL      0.49              LAL             -1
1  0022000641  PHI      0.38  SAC      0.62              SAC           -4.5
2  0022000642  MEM      0.62  GSW      0.38              MEM           -4.5
3  0022000643  MIL      0.63  SAS      0.37              MIL           -4.5
4  0022000644  LAC      0.69  CHA      0.31              LAC             -6