In [39]:
import pandas as pd
from nbapy import game, shot_chart, player, scoreboard, team
import datetime

In [2]:
yesterday = (datetime.date.today() - datetime.timedelta(days=1)).strftime("%d-%m-%Y")

In [3]:
yesterday = (datetime.date.today() - datetime.timedelta(days=1)).strftime("%d-%m-%Y")

def datascrape(start):
    start = datetime.datetime.strptime(start, "%d-%m-%Y")
    #end = datetime.datetime.strptime("21-07-2014", "%d-%m-%Y")
    end = datetime.datetime.today()
    dates = [start + datetime.timedelta(days=x) for x in range(0, (end-start).days)]
    df = pd.DataFrame({"date": dates})
    df["date"] = df["date"].astype(str)
    df[['Year', 'Month', "Day"]] = df["date"].str.split('-', 2, expand=True)
    df["Month"] = df["Month"].str.lstrip('0')
    df["Day"] = df["Day"].str.lstrip('0')
    
    #to limit to five
    #df = df.head()
    dates = []
    for i, row in df.iterrows():
        day = {}
        day["year"] = row["Year"]
        day["month"] = row["Month"]
        day["day"] = row["Day"]
        dates.append(day)
    
    init = pd.DataFrame({
    "GAME_DATE_EST_x": [],
    "GAME_ID": [],
    "TEAM_ABBREVIATION_x": [],
    "TEAM_ABBREVIATION_y": [],
    "TEAM_ID_x": [],
    "TEAM_ID_y": [],
    "PTS_x": [],
    "PTS_y": []
    })
    
    for date in dates:
        scores = scoreboard.Scoreboard(month=int(date["month"]), day=int(date["day"]), year=int(date["year"]), league_id='00', offset=0)
        df = scores.line_score()
        if df.empty:
            pass
        else:
            df_1 = df.drop_duplicates(subset=['GAME_ID'], keep='first')
            df_2 = df.drop_duplicates(subset=['GAME_ID'], keep='last')
            merged = df_1.merge(df_2, on=["GAME_ID"])                                                                              #FG_PCT	FT_PCT	FG3_PCT	AST	REB	TOV
            merge = merged[["GAME_DATE_EST_x", "GAME_ID", "TEAM_ABBREVIATION_x", "TEAM_ID_x", "TEAM_ID_y", "TEAM_ABBREVIATION_y", "PTS_x", "PTS_y", "FG_PCT_x", "FG_PCT_y", "FT_PCT_x", "FT_PCT_y", "FG3_PCT_x", "FG3_PCT_y", "AST_x", "AST_y", "REB_x", "REB_y", "TOV_x", "TOV_y"]]
            init = pd.concat([init, merge], sort=True)
    
    return init

In [4]:
df = datascrape(yesterday)

#Add catagorical for win
df.loc[df["PTS_x"] > df["PTS_y"], "home_win"] = 1
df.loc[df["PTS_x"] < df["PTS_y"], "home_win"] = 0

df["GAME_DATE_EST_x"] = df["GAME_DATE_EST_x"].str.replace("T00:00:00", "")

df = df[["GAME_DATE_EST_x",
        "GAME_ID",
        "TEAM_ABBREVIATION_x",
        "TEAM_ABBREVIATION_y",
         "TEAM_ID_x",
         "TEAM_ID_y",
        "PTS_x",
        "PTS_y", "home_win"]]
df = df.rename(columns={"GAME_ID": "game_id", "GAME_DATE_EST_x": "date", "TEAM_ABBREVIATION_x": "home", 
                        "TEAM_ABBREVIATION_y": "away", "PTS_x": "home_pts", "PTS_y": "away_pts",
                       "TEAM_ID_x": "home_id", "TEAM_ID_y": "away_id"})

df = df.drop(df[df.game_id.str[:3] != "002"].index)

games = df[["date", "game_id", "home","home_id", "away", "away_id", "home_pts", "away_pts", "home_win"]]

In [5]:
def home():
    
    from nba_api.stats.static import teams
    nba_teams = teams.get_teams()
    team_id = []
    for t in nba_teams:
        team_id.append(t["id"])
    
    home = pd.DataFrame({
        'TEAM_ID': [], 
        'TEAM_ABBREVIATION': [], 
        'GAME_DATE': [], 
        'fg_pct_3_h': [],
        'fg3_pct_3_h': [], 
        'ft_pct_3_h': [], 
        'oreb_3_h': [], 
        'dreb_3_h': [], 
        'ast_3_h': [],
        'tov_3_h': [], 
        'stl_3_h': [], 
        'blk_3_h': [], 
        'pts_3_h': [], 
        'fg_pct_7_h': [], 
        'fg3_pct_7_h': [],
        'ft_pct_7_h': [], 
        'oreb_7_h': [], 
        'dreb_7_h': [], 
        'ast_7_h': [], 
        'tov_7_h': [], 
        'stl_7_h': [],
        'blk_7_h': [], 
        'pts_7_h': []
        })
    
    
    for t in team_id:
        game_log = team.GameLogs(t, location="Home").logs()
        df = game_log.sort_values(by=['GAME_ID'], ascending=True)
        
        df['fg_pct_3_h'] = df.iloc[:,11].rolling(window=3).mean()
        df['fg3_pct_3_h'] = df.iloc[:,14].rolling(window=3).mean()
        df['ft_pct_3_h'] = df.iloc[:,17].rolling(window=3).mean()
        df['oreb_3_h'] = df.iloc[:,18].rolling(window=3).mean() 
        df['dreb_3_h'] = df.iloc[:,19].rolling(window=3).mean()
        df['ast_3_h'] = df.iloc[:,21].rolling(window=3).mean()
        df['tov_3_h'] = df.iloc[:,22].rolling(window=3).mean()
        df['stl_3_h'] = df.iloc[:,23].rolling(window=3).mean()
        df['blk_3_h']= df.iloc[:,24].rolling(window=3).mean()
        df['pts_3_h'] = df.iloc[:,28].rolling(window=3).mean()

        df['fg_pct_7_h'] = df.iloc[:,11].rolling(window=7).mean()
        df['fg3_pct_7_h']= df.iloc[:,14].rolling(window=7).mean()
        df['ft_pct_7_h'] = df.iloc[:,17].rolling(window=7).mean()
        df['oreb_7_h'] = df.iloc[:,18].rolling(window=7).mean()
        df['dreb_7_h']= df.iloc[:,19].rolling(window=7).mean()
        df['ast_7_h']= df.iloc[:,21].rolling(window=7).mean()
        df['tov_7_h']= df.iloc[:,22].rolling(window=7).mean()
        df['stl_7_h']= df.iloc[:,23].rolling(window=7).mean()
        df['blk_7_h']= df.iloc[:,24].rolling(window=7).mean()
        df['pts_7_h']= df.iloc[:,28].rolling(window=7).mean()
        
        df = df.tail(1)[['TEAM_ID', 'TEAM_ABBREVIATION', 
                       'GAME_DATE', 'fg_pct_3_h',
                       'fg3_pct_3_h', 'ft_pct_3_h', 'oreb_3_h', 'dreb_3_h', 'ast_3_h',
                       'tov_3_h', 'stl_3_h', 'blk_3_h', 'pts_3_h', 'fg_pct_7_h', 'fg3_pct_7_h',
                       'ft_pct_7_h', 'oreb_7_h', 'dreb_7_h', 'ast_7_h', 'tov_7_h', 'stl_7_h',
                       'blk_7_h', 'pts_7_h']]
        
        home = pd.concat([home, df])
        
    return home

In [6]:
def away():
    
    from nba_api.stats.static import teams
    nba_teams = teams.get_teams()
    team_id = []
    for t in nba_teams:
        team_id.append(t["id"])
    
    away = pd.DataFrame({
        'TEAM_ID': [], 
        'TEAM_ABBREVIATION': [], 
        'GAME_DATE': [], 
        'fg_pct_3_a': [],
        'fg3_pct_3_a': [], 
        'ft_pct_3_a': [], 
        'oreb_3_a': [], 
        'dreb_3_a': [], 
        'ast_3_a': [],
        'tov_3_a': [], 
        'stl_3_a': [], 
        'blk_3_a': [], 
        'pts_3_a': [], 
        'fg_pct_7_a': [], 
        'fg3_pct_7_a': [],
        'ft_pct_7_a': [], 
        'oreb_7_a': [], 
        'dreb_7_a': [], 
        'ast_7_a': [], 
        'tov_7_a': [], 
        'stl_7_a': [],
        'blk_7_a': [], 
        'pts_7_a': []
        })
    
    
    for t in team_id:
        game_log = team.GameLogs(t, location="Road").logs()
        df = game_log.sort_values(by=['GAME_ID'], ascending=True)
        
        df['fg_pct_3_a'] = df.iloc[:,11].rolling(window=3).mean()
        df['fg3_pct_3_a'] = df.iloc[:,14].rolling(window=3).mean()
        df['ft_pct_3_a'] = df.iloc[:,17].rolling(window=3).mean()
        df['oreb_3_a'] = df.iloc[:,18].rolling(window=3).mean() 
        df['dreb_3_a'] = df.iloc[:,19].rolling(window=3).mean()
        df['ast_3_a'] = df.iloc[:,21].rolling(window=3).mean()
        df['tov_3_a'] = df.iloc[:,22].rolling(window=3).mean()
        df['stl_3_a'] = df.iloc[:,23].rolling(window=3).mean()
        df['blk_3_a']= df.iloc[:,24].rolling(window=3).mean()
        df['pts_3_a'] = df.iloc[:,28].rolling(window=3).mean()

        df['fg_pct_7_a'] = df.iloc[:,11].rolling(window=7).mean()
        df['fg3_pct_7_a']= df.iloc[:,14].rolling(window=7).mean()
        df['ft_pct_7_a'] = df.iloc[:,17].rolling(window=7).mean()
        df['oreb_7_a'] = df.iloc[:,18].rolling(window=7).mean()
        df['dreb_7_a']= df.iloc[:,19].rolling(window=7).mean()
        df['ast_7_a']= df.iloc[:,21].rolling(window=7).mean()
        df['tov_7_a']= df.iloc[:,22].rolling(window=7).mean()
        df['stl_7_a']= df.iloc[:,23].rolling(window=7).mean()
        df['blk_7_a']= df.iloc[:,24].rolling(window=7).mean()
        df['pts_7_a']= df.iloc[:,28].rolling(window=7).mean()
        
        df = df.tail(1)[['TEAM_ID', 'TEAM_ABBREVIATION', 
                       'GAME_DATE', 'fg_pct_3_a',
                       'fg3_pct_3_a', 'ft_pct_3_a', 'oreb_3_a', 'dreb_3_a', 'ast_3_a',
                       'tov_3_a', 'stl_3_a', 'blk_3_a', 'pts_3_a', 'fg_pct_7_a', 'fg3_pct_7_a',
                       'ft_pct_7_a', 'oreb_7_a', 'dreb_7_a', 'ast_7_a', 'tov_7_a', 'stl_7_a',
                       'blk_7_a', 'pts_7_a']]
        
        away = pd.concat([away, df])
        
    return away

In [7]:
home = home()

In [8]:
away = away()

In [9]:
home = home.rename(columns={"TEAM_ID": "team_id"})
away = away.rename(columns={"TEAM_ID": "team_id"})

In [10]:
today = datetime.datetime.today().strftime('%Y-%m-%d').split("-", 2)

In [11]:
today[1] = today[1].lstrip("0")
today[2] = today[2].lstrip("0")

In [12]:
today = scoreboard.Scoreboard(month=int(today[1]), day=int(today[2]), year=int(today[0]), league_id='00', offset=0)
today = today.game_header()[["GAME_ID", "HOME_TEAM_ID", "VISITOR_TEAM_ID"]]

In [13]:
today = today.rename(columns={"GAME_ID": "game_id"})

In [14]:
# Import SQL Alchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
# Get the username and password from config file
#from config import username, password

import requests
import os
import seaborn as sns
from psycopg2.extensions import register_adapter, AsIs

In [15]:
engine = create_engine('postgres://awajcqhq:4CfuU4ZPzBv5ax89ArRPL9P51juwwfQf@queenie.db.elephantsql.com:5432/awajcqhq')
conn = engine.connect()

In [16]:
try:
    games.to_sql(name='games', con=engine, if_exists='append', index=False)
except:
    pass

In [17]:
# Hardcoded data for 2020 season ELO table
elo_columns = ['1610612749',  '1610612761',  '1610612755',  '1610612738',  '1610612754',  '1610612751',  '1610612753',  '1610612765',  '1610612766',  '1610612748',  '1610612764',  '1610612737',  '1610612741',  '1610612739',  '1610612752',  '1610612744',  '1610612743',  '1610612745',  '1610612757',  '1610612762',  '1610612760',  '1610612746',  '1610612759',  '1610612758',  '1610612747',  '1610612750',  '1610612742',  '1610612763',  '1610612740',  '1610612756']

s2019_final_elos = [1626.96,  1710.39,  1510.45,  1690.35,  1522.07,  1483.01,  1464.25,  1333.44,  1360.82,  1632.54,  1364.76,  1357.67,  1345.09,  1345.11,  1335.26,  1347.12,  1571.9,  1548.83,  1508.9,  1564.62,  1526.79,  1642.45,  1512.8,  1479.91,  1700.58,  1372.58,  1526.92,  1515.82,  1498.6,  1580.39]

s2020_init_elos = [round((0.75*x) + (0.25*1505), 2) for x in s2019_final_elos]

In [18]:
# functions for calculating ELOs
def mov_multiplyer(elo_winner, elo_loser, score_winner, score_loser):
    mov = abs(score_winner-score_loser)
    elo_diff = elo_winner-elo_loser
    return ((mov+3)**0.8)/(7.5+0.006*(elo_diff))

def pr_winner_win(elo_winner, elo_loser):
    elo_diff = elo_loser - elo_winner
    return 1/(1+10**(elo_diff/400))

def post_elo_home_winner(elo_winner, elo_loser, score_winner, score_loser):
    return (elo_winner-100) + 20*(1-pr_winner_win(elo_winner, elo_loser))*mov_multiplyer(elo_winner, elo_loser, score_winner, score_loser)

def post_elo_away_winner(elo_winner, elo_loser, score_winner, score_loser):
    return elo_winner + 20*(1-pr_winner_win(elo_winner, elo_loser))*mov_multiplyer(elo_winner, elo_loser, score_winner, score_loser)

In [19]:
games_2020 = pd.read_sql("SELECT * FROM games", con = engine)

In [20]:
games_2020.date = games_2020.date.astype('datetime64')
games_2020.home_id = games_2020.home_id.astype('int64')
games_2020.away_id = games_2020.away_id.astype('int64')

In [21]:
from datetime import timedelta
elos_2020 = pd.DataFrame([s2020_init_elos], columns=elo_columns)

dates_df = pd.DataFrame({'date':pd.date_range(start=games_2020.date.min(), end=games_2020.date.max()+timedelta(days=1))})

concat_df_labels = ['date']
for id in list(elos_2020):
    concat_df_labels.append(id)

elos_2020 = pd.concat([dates_df, elos_2020], ignore_index=1, axis=1)
elos_2020.columns = concat_df_labels

In [22]:
for index, game_row in games_2020.iterrows():
    # block1
    game_day = game_row.date
    home_score = game_row.home_pts
    away_score = game_row.away_pts

    if home_score > away_score:
        home_win = 1
    else:
        home_win = 0

    # print(game_day, home_score, away_score, home_win)

    # block2
    home_elo = [x for x in list(elos_2020[str(game_row.home_id)]) if x > 0][-1] + 100
    away_elo = [x for x in list(elos_2020[str(game_row.away_id)]) if x > 0][-1]

    # print(home_elo, away_elo)
    # block3
    if home_win == 1:
        # HOME WIN FUNCTION
        post_game_home_elo = round(post_elo_home_winner(home_elo, away_elo, home_score, away_score), 2)
        post_game_away_elo = round(away_elo + ((home_elo - 100) - post_game_home_elo), 2)
    elif home_win == 0:
        # AWAY WIN FUNCTION
        post_game_away_elo = round(post_elo_away_winner(away_elo, home_elo, away_score, home_score), 2)
        post_game_home_elo = round((home_elo - 100) + (away_elo - post_game_away_elo), 2)

    # print(post_game_home_elo, post_game_away_elo)
    next_day = game_day + timedelta(days=1)
    elos_2020.loc[list(elos_2020.date).index(next_day), str(game_row.home_id)] = post_game_home_elo
    elos_2020.loc[list(elos_2020.date).index(next_day), str(game_row.away_id)] = post_game_away_elo

In [23]:
elos_2020 = elos_2020.ffill(axis = 0)

In [38]:
elos_2020 = elos_2020.rename(columns={
    "1610612737": "hawks",
    "1610612738": "celtics",
      "1610612740": "pelicans",
      "1610612741":"bulls",
      "1610612742": "mavericks",
      "1610612743": "nuggets",
    "1610612745": "rockets",
      "1610612746": "clippers",
      "1610612747": "lakers",
      "1610612748": "heat",
      "1610612749": "bucks",
      "1610612750": "timberwolves",
      "1610612751": "nets",
      "1610612752": "knicks",
      "1610612753": "magic",
      "1610612754": "pacers",
      "1610612755": "sixers",
      "1610612756": "suns",
      "1610612757": "blazers",
      "1610612758": "kings",
      "1610612759": "spurs",
      "1610612760": "thunder",
      "1610612761": "raptors",
      "1610612762": "jazz",
      "1610612763": "grizzlies",
      "1610612764": "wizards",
      "1610612765": "pistons",
      "1610612766": "hornets",
      "1610612739": "cavs",
      "1610612744": "warriors"
})

,date,bucks,raptors,sixers,celtics,pacers,nets,magic,pistons,hornets,...,thunder,clippers,spurs,kings,lakers,timberwolves,mavericks,grizzlies,pelicans,suns
0,2020-12-22,1596.47,1659.04,1509.09,1644.01,1517.80,1488.51,1474.44,1376.33,1396.87,...,1521.34,1608.09,1510.85,1486.18,1651.68,1405.68,1521.44,1513.12,1500.20,1561.54
1,2020-12-23,1596.47,1659.04,1509.09,1644.01,1517.80,1508.09,1474.44,1376.33,1396.87,...,1521.34,1614.84,1510.85,1486.18,1644.93,1405.68,1521.44,1513.12,1500.20,1561.54
2,2020-12-24,1591.62,1643.28,1516.56,1648.86,1528.83,1508.09,1489.29,1363.12,1384.76,...,1521.34,1614.84,1518.68,1490.48,1644.93,1418.89,1513.66,1505.29,1515.96,1569.32
3,2020-12-25,1591.62,1643.28,1516.56,1648.86,1528.83,1508.09,1489.29,1363.12,1384.76,...,1521.34,1614.84,1518.68,1490.48,1644.93,1418.89,1513.66,1505.29,1515.96,1569.32
4,2020-12-26,1607.44,1643.28,1516.56,1624.85,1528.83,1532.10,1489.29,1363.12,1384.76,...,1521.34,1620.91,1518.68,1490.48,1660.98,1418.89,1497.61,1505.29,1502.32,1569.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2021-03-18,1636.19,1474.95,1625.47,1519.19,1466.34,1614.28,1366.75,1381.32,1468.76,...,1449.93,1555.93,1525.16,1407.39,1641.61,1319.89,1555.86,1530.75,1514.09,1654.32
87,2021-03-19,1636.19,1474.95,1625.47,1519.19,1466.34,1614.28,1362.58,1381.32,1460.51,...,1428.08,1555.93,1525.16,1407.39,1649.86,1332.25,1555.86,1530.75,1500.75,1641.96
88,2021-03-20,1636.19,1473.16,1625.47,1507.70,1485.84,1591.96,1384.90,1387.41,1460.51,...,1428.08,1555.93,1527.16,1418.88,1649.86,1327.66,1543.59,1520.88,1500.75,1646.55
89,2021-03-21,1644.33,1473.16,1637.52,1507.70,1485.84,1591.96,1384.90,1387.41,1439.91,...,1428.08,1576.53,1519.02,1406.83,1641.95,1327.66,1543.59,1532.61,1500.75,1646.55
90,2021-03-22,1644.33,1451.43,1638.65,1520.60,1490.46,1598.36,1372.00,1382.35,1439.91,...,1429.92,1576.53,1519.02,1406.83,1621.84,1327.66,1559.85,1532.61,1508.42,1666.66

In [40]:
elos_2020.to_sql(name='elos', con=engine, if_exists='replace', index=False)

In [25]:
home.to_sql(name='home', con=engine, if_exists='replace', index=False)

In [26]:
away.to_sql(name='away', con=engine, if_exists='replace', index=False)

In [27]:
today.to_sql(name='today', con=engine, if_exists='replace', index=False)

In [28]:
with engine.connect() as con:
    con.execute('ALTER TABLE home ADD PRIMARY KEY (team_id);')

In [29]:
with engine.connect() as con:
    con.execute('ALTER TABLE away ADD PRIMARY KEY (team_id);')

In [30]:
with engine.connect() as con:
    con.execute('ALTER TABLE today ADD PRIMARY KEY (game_id);')

In [42]:
with engine.connect() as con:
    con.execute('ALTER TABLE elos ADD PRIMARY KEY (date);')

In [44]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [45]:
print(Base.classes.keys())

['teams', 'elos', 'games', 'home', 'away', 'today', 'model', 'current_elo']

In [33]:
conn.close()