In [2]:
import pandas as pd
import os
from datetime import datetime, timedelta

In [3]:
# Set route to data
games_data = os.path.join("..", "Resources", "games.csv")
games_data

'../Resources/games.csv'

In [4]:
# Create Games Dataframe
games_df = pd.read_csv(games_data)
games_df

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2020-12-19,12000047,Final,1610612753,1610612766,2020,1610612753,120.0,0.433,0.792,...,23.0,50.0,1610612766,117.0,0.444,0.864,0.439,21.0,52.0,1
1,2020-12-19,12000048,Final,1610612764,1610612765,2020,1610612764,99.0,0.427,0.625,...,24.0,45.0,1610612765,96.0,0.402,0.647,0.326,18.0,51.0,1
2,2020-12-19,12000049,Final,1610612763,1610612737,2020,1610612763,116.0,0.400,0.744,...,21.0,43.0,1610612737,117.0,0.422,0.837,0.297,24.0,47.0,0
3,2020-12-18,12000039,Final,1610612754,1610612755,2020,1610612754,107.0,0.371,0.692,...,19.0,45.0,1610612755,113.0,0.533,0.629,0.355,23.0,48.0,0
4,2020-12-18,12000040,Final,1610612761,1610612748,2020,1610612761,105.0,0.380,0.737,...,27.0,37.0,1610612748,117.0,0.534,0.741,0.514,30.0,51.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23515,2014-10-06,11400007,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
23516,2014-10-06,11400004,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
23517,2014-10-06,11400005,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
23518,2014-10-05,11400002,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
23519,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [5]:
# CHange dates to datetime64 data type
games_df.GAME_DATE_EST = games_df.GAME_DATE_EST.astype('datetime64')

In [6]:
# Pull out variables needed for calculating ELO
relevant_df = games_df[['GAME_DATE_EST', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'PTS_away', 'HOME_TEAM_WINS']]
relevant_df

,GAME_DATE_EST,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,PTS_away,HOME_TEAM_WINS
0,2020-12-19,1610612753,1610612766,2020,1610612753,120.0,117.0,1
1,2020-12-19,1610612764,1610612765,2020,1610612764,99.0,96.0,1
2,2020-12-19,1610612763,1610612737,2020,1610612763,116.0,117.0,0
3,2020-12-18,1610612754,1610612755,2020,1610612754,107.0,113.0,0
4,2020-12-18,1610612761,1610612748,2020,1610612761,105.0,117.0,0
...,...,...,...,...,...,...,...,...
23515,2014-10-06,1610612737,1610612740,2014,1610612737,93.0,87.0,1
23516,2014-10-06,1610612741,1610612764,2014,1610612741,81.0,85.0,0
23517,2014-10-06,1610612747,1610612743,2014,1610612747,98.0,95.0,1
23518,2014-10-05,1610612761,1610612758,2014,1610612761,99.0,94.0,1
23519,2014-10-04,1610612748,1610612740,2014,1610612748,86.0,98.0,0

In [7]:
# For sake of development, pull ONE seasons games
s2014_df = relevant_df.loc[relevant_df.SEASON == 2014]
s2014_df

,GAME_DATE_EST,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,PTS_away,HOME_TEAM_WINS
22102,2015-06-16,1610612739,1610612744,2014,1610612739,97.0,105.0,0
22103,2015-06-14,1610612744,1610612739,2014,1610612744,104.0,91.0,1
22104,2015-06-11,1610612739,1610612744,2014,1610612739,82.0,103.0,0
22105,2015-06-09,1610612739,1610612744,2014,1610612739,96.0,91.0,1
22106,2015-06-07,1610612744,1610612739,2014,1610612744,93.0,95.0,0
...,...,...,...,...,...,...,...,...
23515,2014-10-06,1610612737,1610612740,2014,1610612737,93.0,87.0,1
23516,2014-10-06,1610612741,1610612764,2014,1610612741,81.0,85.0,0
23517,2014-10-06,1610612747,1610612743,2014,1610612747,98.0,95.0,1
23518,2014-10-05,1610612761,1610612758,2014,1610612761,99.0,94.0,1
23519,2014-10-04,1610612748,1610612740,2014,1610612748,86.0,98.0,0

In [8]:
# Create list iof team IDs
team_ids = list(s2014_df.HOME_TEAM_ID.unique())

# Initialize ELO table
elo_by_date_df = pd.DataFrame(columns=team_ids)
elo_by_date_df

Empty DataFrame
Columns: [1610612739, 1610612744, 1610612745, 1610612737, 1610612764, 1610612763, 1610612741, 1610612746, 1610612751, 1610612749, 1610612759, 1610612757, 1610612738, 1610612742, 1610612740, 1610612761, 1610612750, 1610612752, 1610612755, 1610612747, 1610612754, 1610612756, 1610612766, 1610612748, 1610612760, 1610612762, 1610612758, 1610612765, 1610612743, 1610612753]
Index: []

[0 rows x 30 columns]

In [9]:
# Define function to estimate ELO based on previous season record
def elo_estimater(wins):
    return round((0.0029*(wins**3))-(0.3574*(wins**2))+(24.208*wins)+(907.97),2)

In [10]:
# Import record of each team from 2013
from nbapy import game, shot_chart, player, scoreboard, team
east = scoreboard.Scoreboard(month=6, day=30, year=2014, league_id='00', offset=0).east_conf_standings_by_day()
east = east[["TEAM_ID", "TEAM", "W"]]
west = scoreboard.Scoreboard(month=6, day=30, year=2014, league_id='00', offset=0).west_conf_standings_by_day()
west = west[["TEAM_ID", "TEAM", "W"]]
standings = pd.concat([east, west])

In [11]:
# Estimate each team's ELO at end of previous season
standings['ELO'] = [elo_estimater(x) for x in list(standings.W)]
standings

       TEAM_ID           TEAM   W      ELO
0   1610612754        Indiana  56  1652.10
1   1610612748          Miami  54  1629.67
2   1610612741        Chicago  48  1567.22
3   1610612761        Toronto  48  1567.22
4   1610612751       Brooklyn  44  1528.23
5   1610612764     Washington  44  1528.23
6   1610612766      Charlotte  43  1518.65
7   1610612737        Atlanta  38  1470.92
8   1610612752       New York  37  1461.28
9   1610612739      Cleveland  33  1421.84
10  1610612765        Detroit  29  1380.16
11  1610612738         Boston  25  1335.11
12  1610612753        Orlando  23  1310.97
13  1610612755   Philadelphia  19  1258.79
14  1610612749      Milwaukee  15  1200.46
0   1610612759    San Antonio  62  1726.17
1   1610612760  Oklahoma City  59  1687.73
2   1610612746  L.A. Clippers  57  1663.69
3   1610612745        Houston  54  1629.67
4   1610612757       Portland  54  1629.67
5   1610612744   Golden State  51  1597.67
6   1610612763        Memphis  50  1587.37
7   1610612742         Dallas  49  1577.23
8   1610612756        Phoenix  48  1567.22
9   1610612750      Minnesota  40  1490.05
10  1610612743         Denver  36  1451.57
11  1610612740    New Orleans  34  1431.87
12  1610612758     Sacramento  28  1369.25
13  1610612747    L.A. Lakers  27  1358.12
14  1610612762           Utah  25  1335.11

In [12]:
# Pull list of unique team IDs from s2014 table
team_ids = list(s2014_df.HOME_TEAM_ID.unique())

s2013_end_ELOs = []

# create mirroed list of ELOs
for team in team_ids:
    elo = float(standings.loc[standings.TEAM_ID == team].ELO)
    s2013_end_ELOs.append(elo)

# Calculate season start ELOs using decay function
s2013_end_ELOs
s2014_start_ELOs = [round((0.75*x) + (0.25*1505), 2) for x in s2013_end_ELOs]

In [13]:
# Insert ELOs to ELO dataframe
elo_by_date_df.loc[0] = s2014_start_ELOs

elo_by_date_df

,1610612739,1610612744,1610612745,1610612737,1610612764,1610612763,1610612741,1610612746,1610612751,1610612749,...,1610612754,1610612756,1610612766,1610612748,1610612760,1610612762,1610612758,1610612765,1610612743,1610612753
0,1442.63,1574.5,1598.5,1479.44,1522.42,1566.78,1551.66,1624.02,1522.42,1276.6,...,1615.32,1551.66,1515.24,1598.5,1642.05,1377.58,1403.19,1411.37,1464.93,1359.48

In [14]:
# Add dayt before first game of season to NEW 'DATE' variable in ELO table and reorder variables so that DATE is first

dates_df = pd.DataFrame({'DATE':pd.date_range(start=s2014_df.GAME_DATE_EST.min(), end=s2014_df.GAME_DATE_EST.max())})

concat_df_labels = ['DATE']
for id in list(elo_by_date_df):
    concat_df_labels.append(id)

elo_by_date_df = pd.concat([dates_df, elo_by_date_df], ignore_index=1, axis=1)
elo_by_date_df.columns = concat_df_labels

elo_by_date_df
# elo_by_date_df['DATE'] = pd.date_range(start=s2014_df.GAME_DATE_EST.min(), end=s2014_df.GAME_DATE_EST.max())

# cols = elo_by_date_df.columns.tolist()
# cols = cols[-1:] + cols[:-1]

# elo_by_date_df = elo_by_date_df[cols]
# elo_by_date_df

,DATE,1610612739,1610612744,1610612745,1610612737,1610612764,1610612763,1610612741,1610612746,1610612751,...,1610612754,1610612756,1610612766,1610612748,1610612760,1610612762,1610612758,1610612765,1610612743,1610612753
0,2014-10-04,1442.63,1574.5,1598.5,1479.44,1522.42,1566.78,1551.66,1624.02,1522.42,...,1615.32,1551.66,1515.24,1598.5,1642.05,1377.58,1403.19,1411.37,1464.93,1359.48
1,2014-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-10-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-10-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,2015-06-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,2015-06-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,2015-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,2015-06-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,2015-06-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
elo_by_date_df.iloc[0]

DATE          2014-10-04 00:00:00
1610612739                1442.63
1610612744                 1574.5
1610612745                 1598.5
1610612737                1479.44
1610612764                1522.42
1610612763                1566.78
1610612741                1551.66
1610612746                1624.02
1610612751                1522.42
1610612749                 1276.6
1610612759                1670.88
1610612757                 1598.5
1610612738                1377.58
1610612742                1559.17
1610612740                1450.15
1610612761                1551.66
1610612750                1493.79
1610612752                1472.21
1610612755                1320.34
1610612747                1394.84
1610612754                1615.32
1610612756                1551.66
1610612766                1515.24
1610612748                 1598.5
1610612760                1642.05
1610612762                1377.58
1610612758                1403.19
1610612765                1411.37
1610612743                1464.93
1610612753                1359.48
Name: 0, dtype: object

In [16]:
# row being looked at ... will need to flip games data order to itterate through
game_row = s2014_df.iloc[-1]
game_row

GAME_DATE_EST      2014-10-04 00:00:00
HOME_TEAM_ID                1610612748
VISITOR_TEAM_ID             1610612740
SEASON                            2014
TEAM_ID_home                1610612748
PTS_home                            86
PTS_away                            98
HOME_TEAM_WINS                       0
Name: 23519, dtype: object

In [17]:
# Iterrate through each game_row
game_day = game_row.GAME_DATE_EST
home_score = game_row.PTS_home
away_score = game_row.PTS_away

if home_score > away_score:
    home_win = 1
else:
    home_win = 0

game_day, home_score, away_score, home_win

(Timestamp('2014-10-04 00:00:00'), 86.0, 98.0, 0)

In [25]:
# pull ELO for both teams on a game day ADD HOME COURT ADVANTAGE
home_elo = elo_by_date_df[game_row.HOME_TEAM_ID][list(elo_by_date_df.DATE).index(game_day)] + 100
away_elo = elo_by_date_df[game_row.VISITOR_TEAM_ID][list(elo_by_date_df.DATE).index(game_day)]

home_elo, away_elo

(1698.5, 1450.15)

In [26]:
# functions for calculating ELOs
def mov_multiplyer(elo_winner, elo_loser, score_winner, score_loser):
    mov = abs(score_winner-score_loser)
    elo_diff = elo_winner-elo_loser
    return ((mov+3)**0.8)/(7.5+0.006*(elo_diff))

def pr_winner_win(elo_winner, elo_loser):
    elo_diff = elo_loser - elo_winner
    return 1/(1+10**(elo_diff/400))

def post_elo_home_winner(elo_winner, elo_loser, score_winner, score_loser):
    return (elo_winner-100) + 20*(1-pr_winner_win(elo_winner, elo_loser))*mov_multiplyer(elo_winner, elo_loser, score_winner, score_loser)

def post_elo_away_winner(elo_winner, elo_loser, score_winner, score_loser):
    return elo_winner + 20*(1-pr_winner_win(elo_winner, elo_loser))*mov_multiplyer(elo_winner, elo_loser, score_winner, score_loser)

In [32]:
# Calculate Winning team's NEW elo
if home_win == 1:
    # HOME WIN FUNCTION
    post_game_home_elo = post_elo_home_winner(home_elo, away_elo, home_score, away_score)
    post_game_away_elo = away_elo + (home_elo - post_game_home_elo)
elif home_win == 0:
    # AWAY WIN FUNCTION
    post_game_away_elo = post_elo_away_winner(away_elo, home_elo, away_score, home_score)
    post_game_home_elo = (home_elo - 100) + (away_elo - post_game_away_elo)

post_game_home_elo, post_game_away_elo

(1575.0672046084771, 1473.582795391523)

In [33]:
# Push new ELO values to game_day +1
next_day = game_day + timedelta(days=1)
next_day

Timestamp('2014-10-05 00:00:00')

In [35]:
elo_by_date_df.loc[list(elo_by_date_df.DATE).index(next_day), game_row.HOME_TEAM_ID] = post_game_home_elo
elo_by_date_df.loc[list(elo_by_date_df.DATE).index(next_day), game_row.VISITOR_TEAM_ID] = post_game_away_elo

In [36]:
elo_by_date_df

,DATE,1610612739,1610612744,1610612745,1610612737,1610612764,1610612763,1610612741,1610612746,1610612751,...,1610612754,1610612756,1610612766,1610612748,1610612760,1610612762,1610612758,1610612765,1610612743,1610612753
0,2014-10-04,1442.63,1574.5,1598.5,1479.44,1522.42,1566.78,1551.66,1624.02,1522.42,...,1615.32,1551.66,1515.24,1598.500000,1642.05,1377.58,1403.19,1411.37,1464.93,1359.48
1,2014-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1575.067205,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-10-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-10-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,2015-06-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,2015-06-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,2015-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,2015-06-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,2015-06-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN