In [177]:
import pandas as pd
import os
from datetime import datetime, timedelta

In [178]:
games_data = os.path.join("..", "Resources", "games.csv")
games_data

'../Resources/games.csv'

In [179]:
games_df = pd.read_csv(games_data)
games_df

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2020-12-19,12000047,Final,1610612753,1610612766,2020,1610612753,120.0,0.433,0.792,...,23.0,50.0,1610612766,117.0,0.444,0.864,0.439,21.0,52.0,1
1,2020-12-19,12000048,Final,1610612764,1610612765,2020,1610612764,99.0,0.427,0.625,...,24.0,45.0,1610612765,96.0,0.402,0.647,0.326,18.0,51.0,1
2,2020-12-19,12000049,Final,1610612763,1610612737,2020,1610612763,116.0,0.400,0.744,...,21.0,43.0,1610612737,117.0,0.422,0.837,0.297,24.0,47.0,0
3,2020-12-18,12000039,Final,1610612754,1610612755,2020,1610612754,107.0,0.371,0.692,...,19.0,45.0,1610612755,113.0,0.533,0.629,0.355,23.0,48.0,0
4,2020-12-18,12000040,Final,1610612761,1610612748,2020,1610612761,105.0,0.380,0.737,...,27.0,37.0,1610612748,117.0,0.534,0.741,0.514,30.0,51.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23515,2014-10-06,11400007,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
23516,2014-10-06,11400004,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
23517,2014-10-06,11400005,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
23518,2014-10-05,11400002,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
23519,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [180]:
games_df.dtypes

GAME_DATE_EST        object
GAME_ID               int64
GAME_STATUS_TEXT     object
HOME_TEAM_ID          int64
VISITOR_TEAM_ID       int64
SEASON                int64
TEAM_ID_home          int64
PTS_home            float64
FG_PCT_home         float64
FT_PCT_home         float64
FG3_PCT_home        float64
AST_home            float64
REB_home            float64
TEAM_ID_away          int64
PTS_away            float64
FG_PCT_away         float64
FT_PCT_away         float64
FG3_PCT_away        float64
AST_away            float64
REB_away            float64
HOME_TEAM_WINS        int64
dtype: object

In [181]:
games_df.GAME_DATE_EST = games_df.GAME_DATE_EST.astype('datetime64')

In [182]:
relevant_df = games_df[['GAME_DATE_EST', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'PTS_away', 'HOME_TEAM_WINS']]
relevant_df

,GAME_DATE_EST,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,PTS_away,HOME_TEAM_WINS
0,2020-12-19,1610612753,1610612766,2020,1610612753,120.0,117.0,1
1,2020-12-19,1610612764,1610612765,2020,1610612764,99.0,96.0,1
2,2020-12-19,1610612763,1610612737,2020,1610612763,116.0,117.0,0
3,2020-12-18,1610612754,1610612755,2020,1610612754,107.0,113.0,0
4,2020-12-18,1610612761,1610612748,2020,1610612761,105.0,117.0,0
...,...,...,...,...,...,...,...,...
23515,2014-10-06,1610612737,1610612740,2014,1610612737,93.0,87.0,1
23516,2014-10-06,1610612741,1610612764,2014,1610612741,81.0,85.0,0
23517,2014-10-06,1610612747,1610612743,2014,1610612747,98.0,95.0,1
23518,2014-10-05,1610612761,1610612758,2014,1610612761,99.0,94.0,1
23519,2014-10-04,1610612748,1610612740,2014,1610612748,86.0,98.0,0

In [183]:
s2014_df = relevant_df.loc[relevant_df.SEASON == 2014]
s2014_df

,GAME_DATE_EST,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,PTS_away,HOME_TEAM_WINS
22102,2015-06-16,1610612739,1610612744,2014,1610612739,97.0,105.0,0
22103,2015-06-14,1610612744,1610612739,2014,1610612744,104.0,91.0,1
22104,2015-06-11,1610612739,1610612744,2014,1610612739,82.0,103.0,0
22105,2015-06-09,1610612739,1610612744,2014,1610612739,96.0,91.0,1
22106,2015-06-07,1610612744,1610612739,2014,1610612744,93.0,95.0,0
...,...,...,...,...,...,...,...,...
23515,2014-10-06,1610612737,1610612740,2014,1610612737,93.0,87.0,1
23516,2014-10-06,1610612741,1610612764,2014,1610612741,81.0,85.0,0
23517,2014-10-06,1610612747,1610612743,2014,1610612747,98.0,95.0,1
23518,2014-10-05,1610612761,1610612758,2014,1610612761,99.0,94.0,1
23519,2014-10-04,1610612748,1610612740,2014,1610612748,86.0,98.0,0

In [184]:
team_ids = list(s2014_df.HOME_TEAM_ID.unique())

In [185]:
elo_by_date_df = pd.DataFrame(columns=team_ids)
elo_by_date_df

Empty DataFrame
Columns: [1610612739, 1610612744, 1610612745, 1610612737, 1610612764, 1610612763, 1610612741, 1610612746, 1610612751, 1610612749, 1610612759, 1610612757, 1610612738, 1610612742, 1610612740, 1610612761, 1610612750, 1610612752, 1610612755, 1610612747, 1610612754, 1610612756, 1610612766, 1610612748, 1610612760, 1610612762, 1610612758, 1610612765, 1610612743, 1610612753]
Index: []

[0 rows x 30 columns]

In [186]:
def elo_estimater(wins):
    return round((0.0029*(wins**3))-(0.3574*(wins**2))+(24.208*wins)+(907.97),2)

In [187]:
from nbapy import game, shot_chart, player, scoreboard, team
east = scoreboard.Scoreboard(month=6, day=30, year=2014, league_id='00', offset=0).east_conf_standings_by_day()
east = east[["TEAM_ID", "TEAM", "W"]]
west = scoreboard.Scoreboard(month=6, day=30, year=2014, league_id='00', offset=0).west_conf_standings_by_day()
west = west[["TEAM_ID", "TEAM", "W"]]
standings = pd.concat([east, west])

In [188]:
standings['ELO'] = [elo_estimater(x) for x in list(standings.W)]

In [189]:
standings

       TEAM_ID           TEAM   W      ELO
0   1610612754        Indiana  56  1652.10
1   1610612748          Miami  54  1629.67
2   1610612741        Chicago  48  1567.22
3   1610612761        Toronto  48  1567.22
4   1610612751       Brooklyn  44  1528.23
5   1610612764     Washington  44  1528.23
6   1610612766      Charlotte  43  1518.65
7   1610612737        Atlanta  38  1470.92
8   1610612752       New York  37  1461.28
9   1610612739      Cleveland  33  1421.84
10  1610612765        Detroit  29  1380.16
11  1610612738         Boston  25  1335.11
12  1610612753        Orlando  23  1310.97
13  1610612755   Philadelphia  19  1258.79
14  1610612749      Milwaukee  15  1200.46
0   1610612759    San Antonio  62  1726.17
1   1610612760  Oklahoma City  59  1687.73
2   1610612746  L.A. Clippers  57  1663.69
3   1610612745        Houston  54  1629.67
4   1610612757       Portland  54  1629.67
5   1610612744   Golden State  51  1597.67
6   1610612763        Memphis  50  1587.37
7   1610612742         Dallas  49  1577.23
8   1610612756        Phoenix  48  1567.22
9   1610612750      Minnesota  40  1490.05
10  1610612743         Denver  36  1451.57
11  1610612740    New Orleans  34  1431.87
12  1610612758     Sacramento  28  1369.25
13  1610612747    L.A. Lakers  27  1358.12
14  1610612762           Utah  25  1335.11

In [190]:
team_ids = list(s2014_df.HOME_TEAM_ID.unique())
team_ids

s2013_end_ELOs = []

for team in team_ids:
    elo = float(standings.loc[standings.TEAM_ID == team].ELO)
    s2013_end_ELOs.append(elo)

s2013_end_ELOs
s2014_start_ELOs = [round((0.75*x) + (0.25*1505), 2) for x in s2013_end_ELOs]

s2014_start_ELOs

[1442.63,
 1574.5,
 1598.5,
 1479.44,
 1522.42,
 1566.78,
 1551.66,
 1624.02,
 1522.42,
 1276.6,
 1670.88,
 1598.5,
 1377.58,
 1559.17,
 1450.15,
 1551.66,
 1493.79,
 1472.21,
 1320.34,
 1394.84,
 1615.32,
 1551.66,
 1515.24,
 1598.5,
 1642.05,
 1377.58,
 1403.19,
 1411.37,
 1464.93,
 1359.48]

In [191]:
elo_by_date_df.loc[0] = s2014_start_ELOs

In [192]:
elo_by_date_df

,1610612739,1610612744,1610612745,1610612737,1610612764,1610612763,1610612741,1610612746,1610612751,1610612749,...,1610612754,1610612756,1610612766,1610612748,1610612760,1610612762,1610612758,1610612765,1610612743,1610612753
0,1442.63,1574.5,1598.5,1479.44,1522.42,1566.78,1551.66,1624.02,1522.42,1276.6,...,1615.32,1551.66,1515.24,1598.5,1642.05,1377.58,1403.19,1411.37,1464.93,1359.48

In [193]:
elo_by_date_df['DATE'] = pd.date_range(start=(s2014_df.GAME_DATE_EST.min() - timedelta(days=1)), end=s2014_df.GAME_DATE_EST.max())[0]
elo_by_date_df

,1610612739,1610612744,1610612745,1610612737,1610612764,1610612763,1610612741,1610612746,1610612751,1610612749,...,1610612756,1610612766,1610612748,1610612760,1610612762,1610612758,1610612765,1610612743,1610612753,DATE
0,1442.63,1574.5,1598.5,1479.44,1522.42,1566.78,1551.66,1624.02,1522.42,1276.6,...,1551.66,1515.24,1598.5,1642.05,1377.58,1403.19,1411.37,1464.93,1359.48,2014-10-03

In [194]:
cols = elo_by_date_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
cols

elo_by_date_df = elo_by_date_df[cols]
elo_by_date_df

,DATE,1610612739,1610612744,1610612745,1610612737,1610612764,1610612763,1610612741,1610612746,1610612751,...,1610612754,1610612756,1610612766,1610612748,1610612760,1610612762,1610612758,1610612765,1610612743,1610612753
0,2014-10-03,1442.63,1574.5,1598.5,1479.44,1522.42,1566.78,1551.66,1624.02,1522.42,...,1615.32,1551.66,1515.24,1598.5,1642.05,1377.58,1403.19,1411.37,1464.93,1359.48

In [219]:
# set game day
elo_day = elo_by_date_df.DATE[0]
game_day = elo_by_date_df.DATE[0] + timedelta(days=1)

# pull all games on that day
staging_df = s2014_df.loc[s2014_df.GAME_DATE_EST == game_day]
staging_df = staging_df.reset_index(drop=True)
staging_df

,GAME_DATE_EST,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,PTS_away,HOME_TEAM_WINS
0,2014-10-04,1610612748,1610612740,2014,1610612748,86.0,98.0,0

In [231]:
# pull elo based on X_TEAM_ID
home_elo = float(elo_by_date_df[staging_df.HOME_TEAM_ID.iloc[0]]) # add home team adv. here?
away_elo = float(elo_by_date_df[staging_df.VISITOR_TEAM_ID.iloc[0]])
home_elo, away_elo

(1598.5, 1450.15)