In [2]:
import pandas as pd
from nbapy import game, shot_chart, player, scoreboard, team
import datetime

In [3]:
def datascrape(start):
    start = datetime.datetime.strptime(start, "%d-%m-%Y")
    #end = datetime.datetime.strptime("21-07-2014", "%d-%m-%Y")
    end = datetime.datetime.today()
    dates = [start + datetime.timedelta(days=x) for x in range(0, (end-start).days)]
    df = pd.DataFrame({"date": dates})
    df["date"] = df["date"].astype(str)
    df[['Year', 'Month', "Day"]] = df["date"].str.split('-', 2, expand=True)
    df["Month"] = df["Month"].str.lstrip('0')
    df["Day"] = df["Day"].str.lstrip('0')
    
    #to limit to five
    #df = df.head()
    dates = []
    for i, row in df.iterrows():
        day = {}
        day["year"] = row["Year"]
        day["month"] = row["Month"]
        day["day"] = row["Day"]
        dates.append(day)
    
    init = pd.DataFrame({
    "GAME_DATE_EST_x": [],
    "GAME_ID": [],
    "TEAM_ABBREVIATION_x": [],
    "TEAM_ABBREVIATION_y": [],
    "PTS_x": [],
    "PTS_y": []
    })
    
    for date in dates:
        scores = scoreboard.Scoreboard(month=int(date["month"]), day=int(date["day"]), year=int(date["year"]), league_id='00', offset=0)
        df = scores.line_score()
        if df.empty:
            pass
        else:
            df_1 = df.drop_duplicates(subset=['GAME_ID'], keep='first')
            df_2 = df.drop_duplicates(subset=['GAME_ID'], keep='last')
            merged = df_1.merge(df_2, on=["GAME_ID"])                                                                              #FG_PCT	FT_PCT	FG3_PCT	AST	REB	TOV
            merge = merged[["GAME_DATE_EST_x", "GAME_ID", "TEAM_ABBREVIATION_x", "TEAM_ID_x", "TEAM_ID_y", "TEAM_ABBREVIATION_y", "PTS_x", "PTS_y", "FG_PCT_x", "FG_PCT_y", "FT_PCT_x", "FT_PCT_y", "FG3_PCT_x", "FG3_PCT_y", "AST_x", "AST_y", "REB_x", "REB_y", "TOV_x", "TOV_y"]]
            init = pd.concat([init, merge], sort=True)
    
    return init

In [4]:
df = datascrape("01-01-2021")

In [5]:
#Rename columns
df = df.rename(columns={
            "GAME_DATE_EST_x": "date",
            "GAME_ID": "game_id",
            "TEAM_ABBREVIATION_x": "away",
            "TEAM_ABBREVIATION_y": "home",
            "TEAM_ID_x": "away_id",
            "TEAM_ID_y": "home_id",
            "PTS_x": "away_pts",
            "PTS_y": "home_pts",
            "FG_PCT_x": "away_fg",
            "FG_PCT_y": "home_fg",
            "FT_PCT_x": "away_ft",
            "FT_PCT_y": "home_ft",
            "FG3_PCT_x": "away_fg3",
            "FG3_PCT_y": "home_fg3",
            "AST_x": "away_ast",
            "AST_y": "home_ast",
            "REB_x": "away_reb",
            "REB_y": "home_reb",
            "TOV_x": "away_tov",
            "TOV_y": "home_tov",
            })

df = df[["game_id", "date", "away", "home","away_id", "home_id","away_pts","home_pts", "away_fg","home_fg", "away_ft",
         "home_ft", "away_fg3", "home_fg3","away_ast", "home_ast", "away_reb", "home_reb", "away_tov","home_tov"]]

In [6]:
#Add catagorical for win
df.loc[df["home_pts"] > df["away_pts"], "home_win"] = 1
df.loc[df["home_pts"] < df["away_pts"], "home_win"] = 0

In [7]:
#Remove time
df["date"] = df["date"].str.replace("T00:00:00", "")

In [8]:
df = df.reset_index(drop=True).dropna()

In [9]:
df

,game_id,date,away,home,away_id,home_id,away_pts,home_pts,away_fg,home_fg,...,home_ft,away_fg3,home_fg3,away_ast,home_ast,away_reb,home_reb,away_tov,home_tov,home_win
0,0022000069,2021-01-01,MEM,CHA,1.610613e+09,1.610613e+09,108.0,93.0,0.478,0.407,...,0.667,0.359,0.290,34.0,23.0,48.0,42.0,15.0,18.0,0.0
1,0022000070,2021-01-01,BOS,DET,1.610613e+09,1.610613e+09,93.0,96.0,0.470,0.409,...,0.650,0.258,0.324,20.0,18.0,44.0,48.0,19.0,19.0,1.0
2,0022000071,2021-01-01,MIA,DAL,1.610613e+09,1.610613e+09,83.0,93.0,0.372,0.410,...,0.739,0.212,0.324,20.0,18.0,41.0,49.0,14.0,16.0,1.0
3,0022000072,2021-01-01,ATL,BKN,1.610613e+09,1.610613e+09,114.0,96.0,0.462,0.407,...,0.826,0.410,0.189,24.0,19.0,48.0,45.0,9.0,15.0,0.0
4,0022000073,2021-01-01,CHI,MIL,1.610613e+09,1.610613e+09,96.0,126.0,0.437,0.494,...,0.667,0.231,0.489,18.0,27.0,42.0,44.0,20.0,17.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,0022000597,2021-03-14,CLE,ATL,1.610613e+09,1.610613e+09,82.0,100.0,0.383,0.451,...,0.923,0.267,0.414,19.0,21.0,34.0,49.0,13.0,15.0,1.0
501,0022000598,2021-03-14,BOS,HOU,1.610613e+09,1.610613e+09,134.0,107.0,0.554,0.385,...,0.677,0.486,0.320,29.0,23.0,55.0,37.0,14.0,11.0,0.0
502,0022000599,2021-03-14,POR,MIN,1.610613e+09,1.610613e+09,112.0,114.0,0.438,0.493,...,0.744,0.378,0.342,22.0,24.0,42.0,45.0,11.0,12.0,1.0
503,0022000600,2021-03-14,TOR,CHI,1.610613e+09,1.610613e+09,95.0,118.0,0.378,0.454,...,0.783,0.267,0.273,23.0,35.0,38.0,60.0,12.0,11.0,1.0
504,0022000601,2021-03-14,LAC,NOP,1.610613e+09,1.610613e+09,115.0,135.0,0.457,0.654,...,0.810,0.349,0.462,23.0,38.0,32.0,40.0,12.0,18.0,1.0

In [10]:
# Assign X (data) and y (target)
X = df[["away_fg","home_fg", "away_ft", "home_ft", "away_fg3", "home_fg3","away_ast", "home_ast", "away_reb", "home_reb", "away_tov","home_tov"]]
y = df["home_win"]
feature_names = X.columns
print(X.shape, y.shape)

(504, 12) (504,)

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [12]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.7857142857142857

In [31]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8650793650793651

In [32]:
predictions = rf.predict(X_test)
predictions

array([1., 0., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 1., 1., 1., 0., 0.,
       1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1.,
       1., 0., 1., 1., 1., 0., 0., 0., 0., 1., 0., 1., 1., 1., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 1., 0., 0., 1., 1., 1., 1.,
       1., 0., 1., 1., 0., 0., 1., 1., 1., 0., 0., 0., 1., 1., 0., 1., 0.,
       1., 1., 0., 0., 0., 0., 1., 1., 1., 0., 1., 1., 1., 1., 0., 1., 0.,
       0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 1., 1., 1., 1.,
       1., 0., 0., 1., 0., 0., 1.])

In [33]:
y_test

173    1.0
274    0.0
490    1.0
72     0.0
305    1.0
      ...
250    0.0
417    1.0
117    0.0
42     0.0
321    1.0
Name: home_win, Length: 126, dtype: float64

In [34]:
score_df = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [35]:
score_df.loc[score_df["Prediction"] == score_df["Actual"], "Correct"] = 1

In [42]:
print(score_df["Correct"].sum(), len(score_df))

109.0 126

In [14]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.1943579753596666, 'away_fg'),
 (0.18774140307251078, 'home_fg'),
 (0.1087111628446921, 'home_fg3'),
 (0.10308163767730465, 'away_fg3'),
 (0.07020610738584772, 'away_reb'),
 (0.06380635797248203, 'away_ast'),
 (0.050003876030800434, 'home_reb'),
 (0.04942160858459792, 'home_ast'),
 (0.044877203703644904, 'away_ft'),
 (0.04450664378251408, 'away_tov'),
 (0.04398651972933659, 'home_ft'),
 (0.0392995038566021, 'home_tov')]

In [33]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data

X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

In [34]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

In [18]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [19]:
print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.5899935109082002
Testing Data Score: 0.5908381745647693

In [20]:
predictions = model.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [ 0.86288827  0.33392024  0.57508435  0.07464113  0.61119147 -0.0903795
 -0.25376853  1.15173845  0.47046752  0.21276697]
First 10 Actual labels: [1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0]