In [46]:
import pandas as pd
from sqlalchemy import create_engine, engine
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [47]:
engine = create_engine('postgres://awajcqhq:4CfuU4ZPzBv5ax89ArRPL9P51juwwfQf@queenie.db.elephantsql.com:5432/awajcqhq')

In [48]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [15]:
home = Base.classes.home
away = Base.classes.away
today = Base.classes.today

In [16]:
session = Session(engine)

In [49]:
home_df = pd.read_sql("SELECT * FROM home",con=engine)
away_df = pd.read_sql("SELECT * FROM away",con=engine)
today_df = pd.read_sql("SELECT * FROM today",con=engine)

In [50]:
home_add = today_df.merge(home_df, left_on="HOME_TEAM_ID", right_on="team_id", how="left")
home_add

,game_id,HOME_TEAM_ID,VISITOR_TEAM_ID,team_id,TEAM_ABBREVIATION,GAME_DATE,fg_pct_3_h,fg3_pct_3_h,ft_pct_3_h,oreb_3_h,...,fg_pct_7_h,fg3_pct_7_h,ft_pct_7_h,oreb_7_h,dreb_7_h,ast_7_h,tov_7_h,stl_7_h,blk_7_h,pts_7_h
0,0022000166,1610612764,1610612762,1.610613e+09,WAS,2021-03-17T00:00:00,0.484000,0.323667,0.781333,6.000000,...,0.478143,0.332571,0.753571,7.142857,34.571429,25.571429,14.714286,7.428571,2.571429,115.000000
1,0022000626,1610612737,1610612760,1.610613e+09,ATL,2021-03-14T00:00:00,0.497333,0.442000,0.814667,12.333333,...,0.498571,0.405857,0.811714,9.714286,33.857143,26.571429,14.285714,5.142857,5.000000,118.571429
2,0022000627,1610612752,1610612753,1.610613e+09,NYK,2021-03-04T00:00:00,0.540667,0.453667,0.837333,8.333333,...,0.495143,0.428857,0.833286,9.714286,35.714286,22.428571,13.571429,6.714286,3.857143,116.714286
3,0022000628,1610612756,1610612750,1.610613e+09,PHX,2021-03-15T00:00:00,0.525667,0.417667,0.827333,8.333333,...,0.529286,0.413286,0.852000,8.000000,34.571429,26.428571,10.714286,7.142857,3.714286,121.857143
4,0022000629,1610612757,1610612740,1.610613e+09,POR,2021-03-16T00:00:00,0.485000,0.411000,0.951667,9.333333,...,0.469429,0.393857,0.861429,10.000000,32.000000,20.285714,13.000000,7.428571,5.571429,120.000000
5,0022000630,1610612747,1610612766,1.610613e+09,LAL,2021-03-16T00:00:00,0.509333,0.391000,0.797000,7.000000,...,0.469000,0.345286,0.764857,9.714286,36.142857,25.142857,15.142857,8.000000,6.571429,111.857143

In [51]:
final = home_add.merge(away_df, left_on="VISITOR_TEAM_ID", right_on="team_id", how="left")
final.columns

Index(['game_id', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'team_id_x',
       'TEAM_ABBREVIATION_x', 'GAME_DATE_x', 'fg_pct_3_h', 'fg3_pct_3_h',
       'ft_pct_3_h', 'oreb_3_h', 'dreb_3_h', 'ast_3_h', 'tov_3_h', 'stl_3_h',
       'blk_3_h', 'pts_3_h', 'fg_pct_7_h', 'fg3_pct_7_h', 'ft_pct_7_h',
       'oreb_7_h', 'dreb_7_h', 'ast_7_h', 'tov_7_h', 'stl_7_h', 'blk_7_h',
       'pts_7_h', 'team_id_y', 'TEAM_ABBREVIATION_y', 'GAME_DATE_y',
       'fg_pct_3_a', 'fg3_pct_3_a', 'ft_pct_3_a', 'oreb_3_a', 'dreb_3_a',
       'ast_3_a', 'tov_3_a', 'stl_3_a', 'blk_3_a', 'pts_3_a', 'fg_pct_7_a',
       'fg3_pct_7_a', 'ft_pct_7_a', 'oreb_7_a', 'dreb_7_a', 'ast_7_a',
       'tov_7_a', 'stl_7_a', 'blk_7_a', 'pts_7_a'],
      dtype='object')

In [52]:
X = final[['fg_pct_3_h', 'fg3_pct_3_h', 'ft_pct_3_h',
       'oreb_3_h', 'dreb_3_h', 'ast_3_h', 'tov_3_h', 'stl_3_h', 'blk_3_h',
       'pts_3_h', 'fg_pct_7_h', 'fg3_pct_7_h', 'ft_pct_7_h', 'oreb_7_h',
       'dreb_7_h', 'ast_7_h', 'tov_7_h', 'stl_7_h', 'blk_7_h', 'pts_7_h',
        'fg_pct_3_a', 'fg3_pct_3_a', 'ft_pct_3_a', 'oreb_3_a',
       'dreb_3_a', 'ast_3_a', 'tov_3_a', 'stl_3_a', 'blk_3_a', 'pts_3_a',
       'fg_pct_7_a', 'fg3_pct_7_a', 'ft_pct_7_a', 'oreb_7_a', 'dreb_7_a',
       'ast_7_a', 'tov_7_a', 'stl_7_a', 'blk_7_a', 'pts_7_a']]

In [53]:
import pickle
filename = 'forest.sav'
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
loaded_model

RandomForestClassifier(n_estimators=200)

In [54]:
from sklearn.ensemble import RandomForestClassifier
array = loaded_model.predict(X)

In [55]:
today_df["home_win"] = array

In [57]:
today_df

      game_id  HOME_TEAM_ID  VISITOR_TEAM_ID  home_win
0  0022000166    1610612764       1610612762       1.0
1  0022000626    1610612737       1610612760       1.0
2  0022000627    1610612752       1610612753       1.0
3  0022000628    1610612756       1610612750       1.0
4  0022000629    1610612757       1610612740       1.0
5  0022000630    1610612747       1610612766       1.0