In [1]:
import pandas as pd
from sqlalchemy import create_engine, engine
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [2]:
engine = create_engine('postgres://awajcqhq:4CfuU4ZPzBv5ax89ArRPL9P51juwwfQf@queenie.db.elephantsql.com:5432/awajcqhq')

In [3]:
home_df = pd.read_sql("SELECT * FROM home",con=engine)
away_df = pd.read_sql("SELECT * FROM away",con=engine)
today_df = pd.read_sql("SELECT * FROM today",con=engine)
teams_df = pd.read_sql("SELECT * FROM teams",con=engine)

In [4]:
home_add = today_df.merge(home_df, left_on="HOME_TEAM_ID", right_on="team_id", how="left")
home_add

,game_id,HOME_TEAM_ID,VISITOR_TEAM_ID,team_id,TEAM_ABBREVIATION,GAME_DATE,fg_pct_3_h,fg3_pct_3_h,ft_pct_3_h,oreb_3_h,...,fg_pct_7_h,fg3_pct_7_h,ft_pct_7_h,oreb_7_h,dreb_7_h,ast_7_h,tov_7_h,stl_7_h,blk_7_h,pts_7_h
0,0022000435,1610612739,1610612759,1.610613e+09,CLE,2021-03-17T00:00:00,0.509667,0.405000,0.790000,10.333333,...,0.496857,0.376857,0.755714,10.142857,31.285714,25.285714,18.285714,6.571429,4.714286,107.857143
1,0022000631,1610612738,1610612758,1.610613e+09,BOS,2021-03-16T00:00:00,0.528667,0.431000,0.738000,13.000000,...,0.513000,0.394000,0.767571,11.285714,31.857143,25.000000,14.857143,6.714286,5.285714,117.428571
2,0022000632,1610612748,1610612754,1.610613e+09,MIA,2021-03-16T00:00:00,0.439333,0.323333,0.726000,10.000000,...,0.445286,0.370000,0.807143,10.000000,31.857143,25.000000,12.285714,8.428571,4.285714,107.285714
3,0022000633,1610612753,1610612751,1.610613e+09,ORL,2021-03-14T00:00:00,0.454667,0.419667,0.809333,8.000000,...,0.445429,0.394000,0.802143,7.714286,37.857143,25.714286,11.714286,6.285714,4.571429,109.142857
4,0022000634,1610612761,1610612762,1.610613e+09,TOR,2021-03-11T00:00:00,0.443000,0.394000,0.874000,10.333333,...,0.446714,0.357429,0.878714,9.000000,33.142857,24.857143,12.571429,7.285714,5.857143,112.285714
5,0022000635,1610612745,1610612765,1.610613e+09,HOU,2021-03-17T00:00:00,0.425000,0.320333,0.657000,9.333333,...,0.394714,0.302429,0.706857,9.571429,29.428571,19.428571,13.571429,8.285714,4.714286,99.428571
6,0022000636,1610612763,1610612744,1.610613e+09,MEM,2021-03-17T00:00:00,0.439333,0.362000,0.805000,10.000000,...,0.452143,0.383286,0.799857,9.857143,38.714286,26.142857,12.000000,8.428571,4.571429,110.285714
7,0022000637,1610612743,1610612741,1.610613e+09,DEN,2021-03-17T00:00:00,0.484333,0.430000,0.752000,12.333333,...,0.461857,0.389714,0.787143,10.714286,34.428571,28.000000,11.142857,7.142857,4.428571,113.285714
8,0022000638,1610612756,1610612750,1.610613e+09,PHX,2021-03-18T00:00:00,0.533667,0.395000,0.776667,7.000000,...,0.529286,0.403714,0.854429,7.571429,35.000000,27.000000,12.285714,7.000000,4.285714,121.000000
9,0022000639,1610612757,1610612742,1.610613e+09,POR,2021-03-18T00:00:00,0.452333,0.388000,0.911667,11.000000,...,0.449571,0.387429,0.851571,10.714286,32.000000,19.571429,12.857143,8.142857,6.142857,116.000000

In [5]:
final = home_add.merge(away_df, left_on="VISITOR_TEAM_ID", right_on="team_id", how="left")
final.columns

Index(['game_id', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'team_id_x',
       'TEAM_ABBREVIATION_x', 'GAME_DATE_x', 'fg_pct_3_h', 'fg3_pct_3_h',
       'ft_pct_3_h', 'oreb_3_h', 'dreb_3_h', 'ast_3_h', 'tov_3_h', 'stl_3_h',
       'blk_3_h', 'pts_3_h', 'fg_pct_7_h', 'fg3_pct_7_h', 'ft_pct_7_h',
       'oreb_7_h', 'dreb_7_h', 'ast_7_h', 'tov_7_h', 'stl_7_h', 'blk_7_h',
       'pts_7_h', 'team_id_y', 'TEAM_ABBREVIATION_y', 'GAME_DATE_y',
       'fg_pct_3_a', 'fg3_pct_3_a', 'ft_pct_3_a', 'oreb_3_a', 'dreb_3_a',
       'ast_3_a', 'tov_3_a', 'stl_3_a', 'blk_3_a', 'pts_3_a', 'fg_pct_7_a',
       'fg3_pct_7_a', 'ft_pct_7_a', 'oreb_7_a', 'dreb_7_a', 'ast_7_a',
       'tov_7_a', 'stl_7_a', 'blk_7_a', 'pts_7_a'],
      dtype='object')

In [6]:
X = final[['fg_pct_3_h', 'fg3_pct_3_h', 'ft_pct_3_h',
       'oreb_3_h', 'dreb_3_h', 'ast_3_h', 'tov_3_h', 'stl_3_h', 'blk_3_h',
       'pts_3_h', 'fg_pct_7_h', 'fg3_pct_7_h', 'ft_pct_7_h', 'oreb_7_h',
       'dreb_7_h', 'ast_7_h', 'tov_7_h', 'stl_7_h', 'blk_7_h', 'pts_7_h',
        'fg_pct_3_a', 'fg3_pct_3_a', 'ft_pct_3_a', 'oreb_3_a',
       'dreb_3_a', 'ast_3_a', 'tov_3_a', 'stl_3_a', 'blk_3_a', 'pts_3_a',
       'fg_pct_7_a', 'fg3_pct_7_a', 'ft_pct_7_a', 'oreb_7_a', 'dreb_7_a',
       'ast_7_a', 'tov_7_a', 'stl_7_a', 'blk_7_a', 'pts_7_a']]

In [7]:
import pickle
filename = 'forest.sav'
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
loaded_model

RandomForestClassifier()

In [8]:
from sklearn.ensemble import RandomForestClassifier
array = loaded_model.predict_proba(X)

In [9]:
array

array([[0.45, 0.55],
       [0.43, 0.57],
       [0.38, 0.62],
       [0.45, 0.55],
       [0.63, 0.37],
       [0.77, 0.23],
       [0.33, 0.67],
       [0.53, 0.47],
       [0.34, 0.66],
       [0.53, 0.47]])

In [10]:
away_win = []
home_win = []
for x in array:
    away_win.append(round(x[0], 2))
    home_win.append(round(x[1], 2))

In [11]:
today_df["home_win"] = home_win
today_df["away_win"] = away_win

In [12]:
merged = today_df.merge(teams_df, left_on="HOME_TEAM_ID", right_on="team_id", how="left")
merged = merged.merge(teams_df, left_on="VISITOR_TEAM_ID", right_on="team_id", how="left")
merged

,game_id,HOME_TEAM_ID,VISITOR_TEAM_ID,home_win,away_win,team_id_x,abbreviation_x,nickname_x,city_x,team_id_y,abbreviation_y,nickname_y,city_y
0,0022000435,1610612739,1610612759,0.55,0.45,1610612739,CLE,Cavaliers,Cleveland,1610612759,SAS,Spurs,San Antonio
1,0022000631,1610612738,1610612758,0.57,0.43,1610612738,BOS,Celtics,Boston,1610612758,SAC,Kings,Sacramento
2,0022000632,1610612748,1610612754,0.62,0.38,1610612748,MIA,Heat,Miami,1610612754,IND,Pacers,Indiana
3,0022000633,1610612753,1610612751,0.55,0.45,1610612753,ORL,Magic,Orlando,1610612751,BKN,Nets,Brooklyn
4,0022000634,1610612761,1610612762,0.37,0.63,1610612761,TOR,Raptors,Toronto,1610612762,UTA,Jazz,Utah
5,0022000635,1610612745,1610612765,0.23,0.77,1610612745,HOU,Rockets,Houston,1610612765,DET,Pistons,Detroit
6,0022000636,1610612763,1610612744,0.67,0.33,1610612763,MEM,Grizzlies,Memphis,1610612744,GSW,Warriors,Golden State
7,0022000637,1610612743,1610612741,0.47,0.53,1610612743,DEN,Nuggets,Denver,1610612741,CHI,Bulls,Chicago
8,0022000638,1610612756,1610612750,0.66,0.34,1610612756,PHX,Suns,Phoenix,1610612750,MIN,Timberwolves,Minnesota
9,0022000639,1610612757,1610612742,0.47,0.53,1610612757,POR,Trail Blazers,Portland,1610612742,DAL,Mavericks,Dallas

In [13]:
import numpy as np
merged["projected_winner"] = np.where(merged["home_win"] > merged["away_win"], merged["abbreviation_x"], merged["abbreviation_y"])

In [14]:
merged = merged[["game_id", "abbreviation_x", "home_win", "abbreviation_y", "away_win", "projected_winner"]]

In [15]:
final = merged.rename(columns={"abbreviation_x": "home", "abbreviation_y": "away",})
final

      game_id home  home_win away  away_win projected_winner
0  0022000435  CLE      0.55  SAS      0.45              CLE
1  0022000631  BOS      0.57  SAC      0.43              BOS
2  0022000632  MIA      0.62  IND      0.38              MIA
3  0022000633  ORL      0.55  BKN      0.45              ORL
4  0022000634  TOR      0.37  UTA      0.63              UTA
5  0022000635  HOU      0.23  DET      0.77              DET
6  0022000636  MEM      0.67  GSW      0.33              MEM
7  0022000637  DEN      0.47  CHI      0.53              CHI
8  0022000638  PHX      0.66  MIN      0.34              PHX
9  0022000639  POR      0.47  DAL      0.53              DAL

In [115]:
final["home_decimal_odds"] = decimal(final["home_win"])
final["away_decimal_odds"] = decimal(final["away_win"])

In [116]:
final["home_ml"] = final["home_decimal_odds"].apply(american)
final["away_ml"] = final["away_decimal_odds"].apply(american)

In [122]:
final["predicted_line"] = final["home_win"].apply(line)

In [124]:
final[["game_id", "home", "home_win", "away", "away_win", "projected_winner", "predicted_line"]]

      game_id home  home_win away  away_win projected_winner predicted_line
0  0022000435  CLE      0.55  SAS      0.45              CLE           -2.5
1  0022000631  BOS      0.57  SAC      0.43              BOS             -3
2  0022000632  MIA      0.62  IND      0.38              MIA           -4.5
3  0022000633  ORL      0.55  BKN      0.45              ORL           -2.5
4  0022000634  TOR      0.37  UTA      0.63              UTA           -4.5
5  0022000635  HOU      0.23  DET      0.77              DET             -8
6  0022000636  MEM      0.67  GSW      0.33              MEM           -5.5
7  0022000637  DEN      0.47  CHI      0.53              CHI             -2
8  0022000638  PHX      0.66  MIN      0.34              PHX           -5.5
9  0022000639  POR      0.47  DAL      0.53              DAL             -2

In [101]:
def decimal(num):
    x = round((1 / num), 2)
    return x

In [113]:
def american(y):
    if y >= 2:
        x =  (y-1)*100
    else:
        x =  -100/(y -1)
    return round(x,0)

In [114]:
american(1.82)

-122.0

In [120]:
def line(num):
    if num >= 0.5:
        number = num
    else:
        number = 1 - num

    if 0.5 <= number <= 0.511:
        y = "-1"
    elif 0.512 <= number <= 0.523:
        y = "-1.5"
    elif 0.524 <= number <= 0.543:
        y = "-2"
    elif 0.544 <= number <= 0.563:
        y = "-2.5"
    elif 0.564 <= number <= 0.582:
        y = "-3"
    elif 0.583 <= number <= 0.601:
        y = "-3.5"
    elif 0.602 <= number <= 0.619:
        y = "-4"
    elif 0.62 <= number <= 0.636:
        y = "-4.5"
    elif 0.637 <= number <= 0.658:
        y = "-5"
    elif 0.659 <= number <= 0.68:
        y = "-5.5"
    elif 0.681 <= number <= 0.701:
        y = "-6"
    elif 0.702 <= number <= 0.721:
        y = "-6.5"
    elif 0.722 <= number <= 0.742:
        y = "-7"
    elif 0.743 <= number <= 0.763:
        y = "-7.5"
    elif 0.764 <= number <= 0.784:
        y = "-8"
    elif 0.785 <= number <= 0.805:
        y = "-8.5"
    elif 0.806 <= number <= 0.828:
        y = "-9"
    elif 0.829 <= number <= 0.852:
        y = "-9.5"
    elif 0.853 <= number <= 0.873:
            y = "-10"
    elif 0.874 <= number <= 0.894:
        y = "-10.5"
    elif 0.895 <= number <= 0.913:
        y = "-11"
    elif 0.914 <= number <= 0.932:
        y = "-11.5"
    elif number > 0.933:
        y = "-12"
    
    return y

'-3.5'