In [2]:
import pandas as pd

In [10]:
# Import SQL Alchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
# Get the username and password from config file
#from config import username, password
import requests
import os
import seaborn as sns
from psycopg2.extensions import register_adapter, AsIs

engine = create_engine('postgres://awajcqhq:4CfuU4ZPzBv5ax89ArRPL9P51juwwfQf@queenie.db.elephantsql.com:5432/awajcqhq')
conn = engine.connect()

home_df = pd.read_sql('SELECT * FROM home',con=engine)
game_df = pd.read_sql('SELECT * FROM games',con=engine)

In [11]:
game_df

,GAME_DATE_EST_x,game_id,TEAM_ABBREVIATION_x,TEAM_ABBREVIATION_y,PTS_x,PTS_y
0,2020-12-22,0022000001,GSW,BKN,99.0,125.0
1,2020-12-22,0022000002,LAC,LAL,116.0,109.0
2,2020-12-23,0022000010,CHA,CLE,114.0,121.0
3,2020-12-23,0022000011,NYK,IND,107.0,121.0
4,2020-12-23,0022000012,MIA,ORL,107.0,113.0
...,...,...,...,...,...,...
591,2021-03-17,0022000621,SAS,CHI,106.0,99.0
592,2021-03-17,0022000622,GSW,HOU,108.0,94.0
593,2021-03-17,0022000623,MIA,MEM,85.0,89.0
594,2021-03-17,0022000624,CHA,DEN,104.0,129.0
595,2021-03-17,0022000625,LAC,DAL,89.0,105.0