In [7]:
import pandas as pd
from nbapy import game, shot_chart, player, scoreboard, team
import datetime

In [8]:
yesterday = (datetime.date.today() - datetime.timedelta(days=1)).strftime("%d-%m-%Y")

In [9]:
def datascrape(start):
    start = datetime.datetime.strptime(start, "%d-%m-%Y")
    #end = datetime.datetime.strptime("21-07-2014", "%d-%m-%Y")
    end = datetime.datetime.today()
    dates = [start + datetime.timedelta(days=x) for x in range(0, (end-start).days)]
    df = pd.DataFrame({"date": dates})
    df["date"] = df["date"].astype(str)
    df[['Year', 'Month', "Day"]] = df["date"].str.split('-', 2, expand=True)
    df["Month"] = df["Month"].str.lstrip('0')
    df["Day"] = df["Day"].str.lstrip('0')
    
    #to limit to five
    #df = df.head()
    dates = []
    for i, row in df.iterrows():
        day = {}
        day["year"] = row["Year"]
        day["month"] = row["Month"]
        day["day"] = row["Day"]
        dates.append(day)
    
    init = pd.DataFrame({
    "GAME_DATE_EST_x": [],
    "GAME_ID": [],
    "TEAM_ABBREVIATION_x": [],
    "TEAM_ABBREVIATION_y": [],
    "TEAM_ID_x": [],
    "TEAM_ID_y": [],
    "PTS_x": [],
    "PTS_y": []
    })
    
    for date in dates:
        scores = scoreboard.Scoreboard(month=int(date["month"]), day=int(date["day"]), year=int(date["year"]), league_id='00', offset=0)
        df = scores.line_score()
        if df.empty:
            pass
        else:
            df_1 = df.drop_duplicates(subset=['GAME_ID'], keep='first')
            df_2 = df.drop_duplicates(subset=['GAME_ID'], keep='last')
            merged = df_1.merge(df_2, on=["GAME_ID"])                                                                              #FG_PCT	FT_PCT	FG3_PCT	AST	REB	TOV
            merge = merged[["GAME_DATE_EST_x", "GAME_ID", "TEAM_ABBREVIATION_x", "TEAM_ID_x", "TEAM_ID_y", "TEAM_ABBREVIATION_y", "PTS_x", "PTS_y", "FG_PCT_x", "FG_PCT_y", "FT_PCT_x", "FT_PCT_y", "FG3_PCT_x", "FG3_PCT_y", "AST_x", "AST_y", "REB_x", "REB_y", "TOV_x", "TOV_y"]]
            init = pd.concat([init, merge], sort=True)
    
    return init

In [10]:
df = datascrape(yesterday)
df["GAME_DATE_EST_x"] = df["GAME_DATE_EST_x"].str.replace("T00:00:00", "")

df = df[["GAME_DATE_EST_x",
        "GAME_ID",
        "TEAM_ABBREVIATION_x",
        "TEAM_ABBREVIATION_y",
         "TEAM_ID_x",
         "TEAM_ID_y",
        "PTS_x",
        "PTS_y"]]
df = df.rename(columns={"GAME_ID": "game_id", "GAME_DATE_EST_x": "date", "TEAM_ABBREVIATION_x": "home", 
                        "TEAM_ABBREVIATION_y": "away", "PTS_x": "home_pts", "PTS_y": "away_pts",
                       "TEAM_ID_x": "home_id", "TEAM_ID_y": "away_id"})

df = df.drop(df[df.game_id.str[:3] != "002"].index)

games = df[["date", "game_id", "home","home_id", "away", "away_id", "home_pts", "away_pts"]]

In [11]:
def home():
    
    from nba_api.stats.static import teams
    nba_teams = teams.get_teams()
    team_id = []
    for t in nba_teams:
        team_id.append(t["id"])
    
    home = pd.DataFrame({
        'TEAM_ID': [], 
        'TEAM_ABBREVIATION': [], 
        'GAME_DATE': [], 
        'fg_pct_3_h': [],
        'fg3_pct_3_h': [], 
        'ft_pct_3_h': [], 
        'oreb_3_h': [], 
        'dreb_3_h': [], 
        'ast_3_h': [],
        'tov_3_h': [], 
        'stl_3_h': [], 
        'blk_3_h': [], 
        'pts_3_h': [], 
        'fg_pct_7_h': [], 
        'fg3_pct_7_h': [],
        'ft_pct_7_h': [], 
        'oreb_7_h': [], 
        'dreb_7_h': [], 
        'ast_7_h': [], 
        'tov_7_h': [], 
        'stl_7_h': [],
        'blk_7_h': [], 
        'pts_7_h': []
        })
    
    
    for t in team_id:
        game_log = team.GameLogs(t, location="Home").logs()
        df = game_log.sort_values(by=['GAME_ID'], ascending=True)
        
        df['fg_pct_3_h'] = df.iloc[:,11].rolling(window=3).mean()
        df['fg3_pct_3_h'] = df.iloc[:,14].rolling(window=3).mean()
        df['ft_pct_3_h'] = df.iloc[:,17].rolling(window=3).mean()
        df['oreb_3_h'] = df.iloc[:,18].rolling(window=3).mean() 
        df['dreb_3_h'] = df.iloc[:,19].rolling(window=3).mean()
        df['ast_3_h'] = df.iloc[:,21].rolling(window=3).mean()
        df['tov_3_h'] = df.iloc[:,22].rolling(window=3).mean()
        df['stl_3_h'] = df.iloc[:,23].rolling(window=3).mean()
        df['blk_3_h']= df.iloc[:,24].rolling(window=3).mean()
        df['pts_3_h'] = df.iloc[:,28].rolling(window=3).mean()

        df['fg_pct_7_h'] = df.iloc[:,11].rolling(window=7).mean()
        df['fg3_pct_7_h']= df.iloc[:,14].rolling(window=7).mean()
        df['ft_pct_7_h'] = df.iloc[:,17].rolling(window=7).mean()
        df['oreb_7_h'] = df.iloc[:,18].rolling(window=7).mean()
        df['dreb_7_h']= df.iloc[:,19].rolling(window=7).mean()
        df['ast_7_h']= df.iloc[:,21].rolling(window=7).mean()
        df['tov_7_h']= df.iloc[:,22].rolling(window=7).mean()
        df['stl_7_h']= df.iloc[:,23].rolling(window=7).mean()
        df['blk_7_h']= df.iloc[:,24].rolling(window=7).mean()
        df['pts_7_h']= df.iloc[:,28].rolling(window=7).mean()
        
        df = df.tail(1)[['TEAM_ID', 'TEAM_ABBREVIATION', 
                       'GAME_DATE', 'fg_pct_3_h',
                       'fg3_pct_3_h', 'ft_pct_3_h', 'oreb_3_h', 'dreb_3_h', 'ast_3_h',
                       'tov_3_h', 'stl_3_h', 'blk_3_h', 'pts_3_h', 'fg_pct_7_h', 'fg3_pct_7_h',
                       'ft_pct_7_h', 'oreb_7_h', 'dreb_7_h', 'ast_7_h', 'tov_7_h', 'stl_7_h',
                       'blk_7_h', 'pts_7_h']]
        
        home = pd.concat([home, df])
        
    return home

In [12]:
def away():
    
    from nba_api.stats.static import teams
    nba_teams = teams.get_teams()
    team_id = []
    for t in nba_teams:
        team_id.append(t["id"])
    
    away = pd.DataFrame({
        'TEAM_ID': [], 
        'TEAM_ABBREVIATION': [], 
        'GAME_DATE': [], 
        'fg_pct_3_a': [],
        'fg3_pct_3_a': [], 
        'ft_pct_3_a': [], 
        'oreb_3_a': [], 
        'dreb_3_a': [], 
        'ast_3_a': [],
        'tov_3_a': [], 
        'stl_3_a': [], 
        'blk_3_a': [], 
        'pts_3_a': [], 
        'fg_pct_7_a': [], 
        'fg3_pct_7_a': [],
        'ft_pct_7_a': [], 
        'oreb_7_a': [], 
        'dreb_7_a': [], 
        'ast_7_a': [], 
        'tov_7_a': [], 
        'stl_7_a': [],
        'blk_7_a': [], 
        'pts_7_a': []
        })
    
    
    for t in team_id:
        game_log = team.GameLogs(t, location="Road").logs()
        df = game_log.sort_values(by=['GAME_ID'], ascending=True)
        
        df['fg_pct_3_a'] = df.iloc[:,11].rolling(window=3).mean()
        df['fg3_pct_3_a'] = df.iloc[:,14].rolling(window=3).mean()
        df['ft_pct_3_a'] = df.iloc[:,17].rolling(window=3).mean()
        df['oreb_3_a'] = df.iloc[:,18].rolling(window=3).mean() 
        df['dreb_3_a'] = df.iloc[:,19].rolling(window=3).mean()
        df['ast_3_a'] = df.iloc[:,21].rolling(window=3).mean()
        df['tov_3_a'] = df.iloc[:,22].rolling(window=3).mean()
        df['stl_3_a'] = df.iloc[:,23].rolling(window=3).mean()
        df['blk_3_a']= df.iloc[:,24].rolling(window=3).mean()
        df['pts_3_a'] = df.iloc[:,28].rolling(window=3).mean()

        df['fg_pct_7_a'] = df.iloc[:,11].rolling(window=7).mean()
        df['fg3_pct_7_a']= df.iloc[:,14].rolling(window=7).mean()
        df['ft_pct_7_a'] = df.iloc[:,17].rolling(window=7).mean()
        df['oreb_7_a'] = df.iloc[:,18].rolling(window=7).mean()
        df['dreb_7_a']= df.iloc[:,19].rolling(window=7).mean()
        df['ast_7_a']= df.iloc[:,21].rolling(window=7).mean()
        df['tov_7_a']= df.iloc[:,22].rolling(window=7).mean()
        df['stl_7_a']= df.iloc[:,23].rolling(window=7).mean()
        df['blk_7_a']= df.iloc[:,24].rolling(window=7).mean()
        df['pts_7_a']= df.iloc[:,28].rolling(window=7).mean()
        
        df = df.tail(1)[['TEAM_ID', 'TEAM_ABBREVIATION', 
                       'GAME_DATE', 'fg_pct_3_a',
                       'fg3_pct_3_a', 'ft_pct_3_a', 'oreb_3_a', 'dreb_3_a', 'ast_3_a',
                       'tov_3_a', 'stl_3_a', 'blk_3_a', 'pts_3_a', 'fg_pct_7_a', 'fg3_pct_7_a',
                       'ft_pct_7_a', 'oreb_7_a', 'dreb_7_a', 'ast_7_a', 'tov_7_a', 'stl_7_a',
                       'blk_7_a', 'pts_7_a']]
        
        away = pd.concat([away, df])
        
    return away

In [13]:
home = home()

In [14]:
away = away()

In [15]:
home = home.rename(columns={"TEAM_ID": "team_id"})
away = away.rename(columns={"TEAM_ID": "team_id"})

In [16]:
today = datetime.datetime.today().strftime('%Y-%m-%d').split("-", 2)

In [17]:
today[1] = today[1].lstrip("0")
today[2] = today[2].lstrip("0")

In [18]:
today = scoreboard.Scoreboard(month=int(today[1]), day=int(today[2]), year=int(today[0]), league_id='00', offset=0)
today = today.game_header()[["GAME_ID", "HOME_TEAM_ID", "VISITOR_TEAM_ID"]]

In [19]:
today = today.rename(columns={"GAME_ID": "game_id"})

In [20]:
# Import SQL Alchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
# Get the username and password from config file
#from config import username, password

import requests
import os
import seaborn as sns
from psycopg2.extensions import register_adapter, AsIs

In [21]:
engine = create_engine('postgres://awajcqhq:4CfuU4ZPzBv5ax89ArRPL9P51juwwfQf@queenie.db.elephantsql.com:5432/awajcqhq')
conn = engine.connect()

In [22]:
try:
    games.to_sql(name='games', con=engine, if_exists='append', index=False)
except:
    pass

In [23]:
# Hardcoded data for 2020 season ELO table
elo_columns = ['1610612749',  '1610612761',  '1610612755',  '1610612738',  '1610612754',  '1610612751',  '1610612753',  '1610612765',  '1610612766',  '1610612748',  '1610612764',  '1610612737',  '1610612741',  '1610612739',  '1610612752',  '1610612744',  '1610612743',  '1610612745',  '1610612757',  '1610612762',  '1610612760',  '1610612746',  '1610612759',  '1610612758',  '1610612747',  '1610612750',  '1610612742',  '1610612763',  '1610612740',  '1610612756']

s2019_final_elos = [1626.96,  1710.39,  1510.45,  1690.35,  1522.07,  1483.01,  1464.25,  1333.44,  1360.82,  1632.54,  1364.76,  1357.67,  1345.09,  1345.11,  1335.26,  1347.12,  1571.9,  1548.83,  1508.9,  1564.62,  1526.79,  1642.45,  1512.8,  1479.91,  1700.58,  1372.58,  1526.92,  1515.82,  1498.6,  1580.39]

s2020_init_elos = [round((0.75*x) + (0.25*1505), 2) for x in s2019_final_elos]

In [24]:
games_2020 = pd.read_sql("SELECT * FROM games", con = engine)
games_2020

,GAME_DATE_EST_x,game_id,TEAM_ABBREVIATION_x,TEAM_ABBREVIATION_y,PTS_x,PTS_y
0,2020-12-22,0022000001,GSW,BKN,99.0,125.0
1,2020-12-22,0022000002,LAC,LAL,116.0,109.0
2,2020-12-23,0022000010,CHA,CLE,114.0,121.0
3,2020-12-23,0022000011,NYK,IND,107.0,121.0
4,2020-12-23,0022000012,MIA,ORL,107.0,113.0
...,...,...,...,...,...,...
607,2021-03-19,0022000635,DET,HOU,113.0,100.0
608,2021-03-19,0022000636,GSW,MEM,116.0,103.0
609,2021-03-19,0022000637,CHI,DEN,127.0,131.0
610,2021-03-19,0022000638,MIN,PHX,101.0,113.0
611,2021-03-19,0022000639,DAL,POR,119.0,125.0

In [ ]:
elos_2020 = pd.DataFrame([s2020_init_elos], columns=elo_columns)

dates_df = pd.DataFrame({'DATE':pd.date_range(start=games_2019.date.min(), end=games_2019.date.max()+timedelta(days=1))})

concat_df_labels = ['DATE']
for id in list(elos_2019):
    concat_df_labels.append(id)

elos_2019 = pd.concat([dates_df, elos_2019], ignore_index=1, axis=1)
elos_2019.columns = concat_df_labels

elos_2019

In [ ]:
home.to_sql(name='home', con=engine, if_exists='replace', index=False)

In [ ]:
away.to_sql(name='away', con=engine, if_exists='replace', index=False)

In [ ]:
today.to_sql(name='today', con=engine, if_exists='replace', index=False)

In [ ]:
with engine.connect() as con:
    con.execute('ALTER TABLE home ADD PRIMARY KEY (team_id);')

In [ ]:
with engine.connect() as con:
    con.execute('ALTER TABLE away ADD PRIMARY KEY (team_id);')

In [ ]:
with engine.connect() as con:
    con.execute('ALTER TABLE today ADD PRIMARY KEY (game_id);')

In [ ]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [ ]:
print(Base.classes.keys())

In [ ]:
conn.close()