In [1]:
import pandas as pd
from nbapy import game, shot_chart, player, scoreboard, team
import datetime

In [2]:
today = datetime.datetime.today().strftime('%Y-%m-%d').split("-", 2)

In [3]:
today[1] = today[1].lstrip("0")
today[2] = today[2].lstrip("0")

In [10]:
scores = scoreboard.Scoreboard(month=int(today[1]), day=int(today[2]), year=int(today[0]), league_id='00', offset=0)
df = scores.game_header()[["GAME_ID", "HOME_TEAM_ID", "VISITOR_TEAM_ID"]]
df

      GAME_ID  HOME_TEAM_ID  VISITOR_TEAM_ID
0  0022000166    1610612764       1610612762
1  0022000626    1610612737       1610612760
2  0022000627    1610612752       1610612753
3  0022000628    1610612756       1610612750
4  0022000629    1610612757       1610612740
5  0022000630    1610612747       1610612766