In [1]:
import pandas as pd
from nbapy import game, shot_chart, player, scoreboard, team
import datetime

In [2]:
def datascrape(start):
    start = datetime.datetime.strptime(start, "%d-%m-%Y")
    #end = datetime.datetime.strptime("21-07-2014", "%d-%m-%Y")
    end = datetime.datetime.today()
    dates = [start + datetime.timedelta(days=x) for x in range(0, (end-start).days)]
    df = pd.DataFrame({"date": dates})
    df["date"] = df["date"].astype(str)
    df[['Year', 'Month', "Day"]] = df["date"].str.split('-', 2, expand=True)
    df["Month"] = df["Month"].str.lstrip('0')
    df["Day"] = df["Day"].str.lstrip('0')
    
    #to limit to five
    #df = df.head()
    dates = []
    for i, row in df.iterrows():
        day = {}
        day["year"] = row["Year"]
        day["month"] = row["Month"]
        day["day"] = row["Day"]
        dates.append(day)
    
    init = pd.DataFrame({
    "GAME_DATE_EST_x": [],
    "GAME_ID": [],
    "TEAM_ABBREVIATION_x": [],
    "TEAM_ABBREVIATION_y": [],
    "PTS_x": [],
    "PTS_y": []
    })
    
    for date in dates:
        scores = scoreboard.Scoreboard(month=int(date["month"]), day=int(date["day"]), year=int(date["year"]), league_id='00', offset=0)
        df = scores.line_score()
        if df.empty:
            pass
        else:
            df_1 = df.drop_duplicates(subset=['GAME_ID'], keep='first')
            df_2 = df.drop_duplicates(subset=['GAME_ID'], keep='last')
            merged = df_1.merge(df_2, on=["GAME_ID"])                                                                              #FG_PCT	FT_PCT	FG3_PCT	AST	REB	TOV
            merge = merged[["GAME_DATE_EST_x", "GAME_ID", "TEAM_ABBREVIATION_x", "TEAM_ID_x", "TEAM_ID_y", "TEAM_ABBREVIATION_y", "PTS_x", "PTS_y", "FG_PCT_x", "FG_PCT_y", "FT_PCT_x", "FT_PCT_y", "FG3_PCT_x", "FG3_PCT_y", "AST_x", "AST_y", "REB_x", "REB_y", "TOV_x", "TOV_y"]]
            init = pd.concat([init, merge], sort=True)
    
    return init

In [3]:
df = datascrape("15-12-2020")
df

,AST_x,AST_y,FG3_PCT_x,FG3_PCT_y,FG_PCT_x,FG_PCT_y,FT_PCT_x,FT_PCT_y,GAME_DATE_EST_x,GAME_ID,PTS_x,PTS_y,REB_x,REB_y,TEAM_ABBREVIATION_x,TEAM_ABBREVIATION_y,TEAM_ID_x,TEAM_ID_y,TOV_x,TOV_y
0,19.0,23.0,0.282,0.241,0.434,0.471,0.727,0.750,2020-12-15T00:00:00,0012000025,99.0,108.0,42.0,42.0,BOS,PHI,1.610613e+09,1.610613e+09,19.0,16.0
1,23.0,23.0,0.323,0.333,0.429,0.440,0.593,0.654,2020-12-15T00:00:00,0012000026,98.0,112.0,43.0,51.0,SAS,HOU,1.610613e+09,1.610613e+09,20.0,16.0
2,28.0,23.0,0.302,0.357,0.427,0.467,0.621,0.577,2020-12-15T00:00:00,0012000027,113.0,114.0,53.0,49.0,GSW,SAC,1.610613e+09,1.610613e+09,16.0,22.0
0,23.0,28.0,0.500,0.235,0.402,0.458,0.778,0.762,2020-12-16T00:00:00,0012000028,93.0,100.0,44.0,38.0,CLE,NYK,1.610613e+09,1.610613e+09,22.0,13.0
1,26.0,22.0,0.333,0.324,0.542,0.381,0.643,0.680,2020-12-16T00:00:00,0012000029,124.0,103.0,61.0,46.0,CHI,OKC,1.610613e+09,1.610613e+09,21.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,18.0,26.0,0.382,0.333,0.362,0.540,0.750,0.846,2021-03-18T00:00:00,0022000626,93.0,116.0,39.0,50.0,OKC,ATL,1.610613e+09,1.610613e+09,9.0,14.0
2,21.0,24.0,0.294,0.412,0.427,0.430,0.813,0.545,2021-03-18T00:00:00,0022000627,93.0,94.0,49.0,43.0,ORL,NYK,1.610613e+09,1.610613e+09,10.0,7.0
3,22.0,29.0,0.324,0.417,0.473,0.529,0.686,0.737,2021-03-18T00:00:00,0022000628,123.0,119.0,38.0,47.0,MIN,PHX,1.610613e+09,1.610613e+09,12.0,22.0
4,24.0,11.0,0.270,0.326,0.398,0.379,0.680,0.840,2021-03-18T00:00:00,0022000629,93.0,101.0,44.0,50.0,NOP,POR,1.610613e+09,1.610613e+09,12.0,13.0
5,26.0,23.0,0.379,0.333,0.494,0.484,0.600,0.750,2021-03-18T00:00:00,0022000630,105.0,116.0,43.0,48.0,CHA,LAL,1.610613e+09,1.610613e+09,19.0,12.0

In [4]:
#Rename columns
df = df.rename(columns={
            "GAME_DATE_EST_x": "date",
            "GAME_ID": "game_id",
            "TEAM_ABBREVIATION_x": "away",
            "TEAM_ABBREVIATION_y": "home",
            "TEAM_ID_x": "away_id",
            "TEAM_ID_y": "home_id",
            "PTS_x": "away_pts",
            "PTS_y": "home_pts",
            "FG_PCT_x": "away_fg",
            "FG_PCT_y": "home_fg",
            "FT_PCT_x": "away_ft",
            "FT_PCT_y": "home_ft",
            "FG3_PCT_x": "away_fg3",
            "FG3_PCT_y": "home_fg3",
            "AST_x": "away_ast",
            "AST_y": "home_ast",
            "REB_x": "away_reb",
            "REB_y": "home_reb",
            "TOV_x": "away_tov",
            "TOV_y": "home_tov",
            })

df = df[["game_id", "date", "away", "home","away_id", "home_id","away_pts","home_pts", "away_fg","home_fg", "away_ft",
         "home_ft", "away_fg3", "home_fg3","away_ast", "home_ast", "away_reb", "home_reb", "away_tov","home_tov"]]

In [5]:
#Add catagorical for win
df.loc[df["home_pts"] > df["away_pts"], "home_win"] = 1
df.loc[df["home_pts"] < df["away_pts"], "home_win"] = 0

In [6]:
#Remove time
df["date"] = df["date"].str.replace("T00:00:00", "")

In [7]:
df = df.reset_index(drop=True).dropna()

In [8]:
df = df[["game_id", "date", "away", "home","away_id", "home_id", "home_win"]]

df.head()

      game_id        date away home       away_id       home_id  home_win
0  0012000025  2020-12-15  BOS  PHI  1.610613e+09  1.610613e+09       1.0
1  0012000026  2020-12-15  SAS  HOU  1.610613e+09  1.610613e+09       1.0
2  0012000027  2020-12-15  GSW  SAC  1.610613e+09  1.610613e+09       1.0
3  0012000028  2020-12-16  CLE  NYK  1.610613e+09  1.610613e+09       1.0
4  0012000029  2020-12-16  CHI  OKC  1.610613e+09  1.610613e+09       0.0

In [9]:
def home_log():
    
    from nba_api.stats.static import teams
    nba_teams = teams.get_teams()
    team_id = []
    for t in nba_teams:
        team_id.append(t["id"])
    
    init = pd.DataFrame({
        'GAME_ID': [],
        'TEAM_ID': [],
        'fg_pct_3_h': [],
        'fg3_pct_3_h': [], 
        'ft_pct_3_h': [],
        'oreb_3_h': [], 
        'dreb_3_h': [],
        'ast_3_h': [],
        'tov_3_h': [],
        'stl_3_h': [], 
        'blk_3_h': [],
        'pts_3_h': [],
        'fg_pct_7_h': [],
        'fg3_pct_7_h': [],
        'ft_pct_7_h': [],
        'oreb_7_h': [],
        'dreb_7_h': [],
        'ast_7_h': [],
        'tov_7_h': [],
        'stl_7_h': [],
        'blk_7_h': [],
        'pts_7_h': []
        })
    
    for t in team_id:
        game_log = team.GameLogs(t, location="Home").logs()
        df = game_log.sort_values(by=['GAME_ID'], ascending=True)
        
        
        game_num = 3
        for i in range(0, len(df)-game_num):
            col = 11
            df.loc[df.index[i+game_num], 'fg_pct_3_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 14
            df.loc[df.index[i+game_num], 'fg3_pct_3_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 17
            df.loc[df.index[i+game_num], 'ft_pct_3_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 18
            df.loc[df.index[i+game_num], 'oreb_3_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 19
            df.loc[df.index[i+game_num], 'dreb_3_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 21
            df.loc[df.index[i+game_num], 'ast_3_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 22
            df.loc[df.index[i+game_num], 'tov_3_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 23
            df.loc[df.index[i+game_num], 'stl_3_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 24
            df.loc[df.index[i+game_num], 'blk_3_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 28
            df.loc[df.index[i+game_num], 'pts_3_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)

        game_num = 7
        for i in range(0, len(df)-game_num):
            col = 11
            df.loc[df.index[i+game_num], 'fg_pct_7_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 14
            df.loc[df.index[i+game_num], 'fg3_pct_7_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 17
            df.loc[df.index[i+game_num], 'ft_pct_7_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 18
            df.loc[df.index[i+game_num], 'oreb_7_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 19
            df.loc[df.index[i+game_num], 'dreb_7_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 21
            df.loc[df.index[i+game_num], 'ast_7_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 22
            df.loc[df.index[i+game_num], 'tov_7_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 23
            df.loc[df.index[i+game_num], 'stl_7_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 24
            df.loc[df.index[i+game_num], 'blk_7_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 28
            df.loc[df.index[i+game_num], 'pts_7_h'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
        
        df = df[['GAME_ID','TEAM_ID','fg_pct_3_h','fg3_pct_3_h', 'ft_pct_3_h', 'oreb_3_h', 'dreb_3_h', 'ast_3_h',
                 'tov_3_h', 'stl_3_h', 'blk_3_h', 'pts_3_h', 'fg_pct_7_h', 'fg3_pct_7_h','ft_pct_7_h', 'oreb_7_h', 
                 'dreb_7_h', 'ast_7_h', 'tov_7_h', 'stl_7_h','blk_7_h', 'pts_7_h']]
        
        init = pd.concat([init, df])
        
        
    return init

In [10]:
home_logs = home_log()

In [11]:
home_logs.drop_duplicates()

,GAME_ID,TEAM_ID,fg_pct_3_h,fg3_pct_3_h,ft_pct_3_h,oreb_3_h,dreb_3_h,ast_3_h,tov_3_h,stl_3_h,...,fg_pct_7_h,fg3_pct_7_h,ft_pct_7_h,oreb_7_h,dreb_7_h,ast_7_h,tov_7_h,stl_7_h,blk_7_h,pts_7_h
19,0022000041,1.610613e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0022000083,1.610613e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,0022000095,1.610613e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,0022000110,1.610613e+09,0.453333,0.381000,0.728000,11.000000,33.333333,25.333333,16.000000,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0022000153,1.610613e+09,0.415667,0.280667,0.714000,12.333333,36.000000,23.666667,16.000000,6.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,0022000414,1.610613e+09,0.480000,0.379333,0.915667,12.333333,36.333333,24.666667,14.000000,6.000000,...,0.469000,0.395286,0.856429,10.571429,33.000000,28.142857,14.000000,5.857143,4.000000,115.857143
3,0022000459,1.610613e+09,0.484000,0.392333,0.883333,11.666667,40.000000,23.666667,17.333333,5.000000,...,0.478000,0.396857,0.831000,10.714286,34.285714,27.428571,14.857143,6.285714,4.428571,116.428571
2,0022000568,1.610613e+09,0.485333,0.404667,0.872000,9.333333,40.000000,22.000000,20.666667,5.666667,...,0.476143,0.406571,0.862714,10.000000,35.285714,25.714286,16.000000,6.285714,4.000000,115.571429
1,0022000588,1.610613e+09,0.455667,0.395333,0.858000,9.333333,36.666667,24.000000,17.000000,7.333333,...,0.465000,0.386000,0.878143,10.714286,35.142857,24.857143,16.000000,6.428571,3.714286,112.571429
0,0022000602,1.610613e+09,0.458000,0.420667,0.878667,8.000000,38.666667,26.333333,20.333333,8.666667,...,0.469714,0.393286,0.872857,10.428571,37.428571,25.142857,17.142857,7.142857,4.000000,113.000000

In [12]:
def away_log():
    
    from nba_api.stats.static import teams
    nba_teams = teams.get_teams()
    team_id = []
    for t in nba_teams:
        team_id.append(t["id"])
    
    init = pd.DataFrame({
        'GAME_ID': [],
        'TEAM_ID': [],
        'fg_pct_3_a': [],
        'fg3_pct_3_a': [], 
        'ft_pct_3_a': [],
        'oreb_3_a': [], 
        'dreb_3_a': [],
        'ast_3_a': [],
        'tov_3_a': [],
        'stl_3_a': [], 
        'blk_3_a': [],
        'pts_3_a': [],
        'fg_pct_7_a': [],
        'fg3_pct_7_a': [],
        'ft_pct_7_a': [],
        'oreb_7_a': [],
        'dreb_7_a': [],
        'ast_7_a': [],
        'tov_7_a': [],
        'stl_7_a': [],
        'blk_7_a': [],
        'pts_7_a': []
        })
    
    for t in team_id:
        game_log = team.GameLogs(t, location="Road").logs()
        df = game_log.sort_values(by=['GAME_ID'], ascending=True)
        
        game_num = 3
        for i in range(0, len(df)-game_num):
            col = 11
            df.loc[df.index[i+game_num], 'fg_pct_3_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 14
            df.loc[df.index[i+game_num], 'fg3_pct_3_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 17
            df.loc[df.index[i+game_num], 'ft_pct_3_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 18
            df.loc[df.index[i+game_num], 'oreb_3_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 19
            df.loc[df.index[i+game_num], 'dreb_3_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 21
            df.loc[df.index[i+game_num], 'ast_3_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 22
            df.loc[df.index[i+game_num], 'tov_3_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 23
            df.loc[df.index[i+game_num], 'stl_3_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 24
            df.loc[df.index[i+game_num], 'blk_3_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)
            col = 28
            df.loc[df.index[i+game_num], 'pts_3_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col])/game_num)

        game_num = 7
        for i in range(0, len(df)-game_num):
            col = 11
            df.loc[df.index[i+game_num], 'fg_pct_7_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 14
            df.loc[df.index[i+game_num], 'fg3_pct_7_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 17
            df.loc[df.index[i+game_num], 'ft_pct_7_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 18
            df.loc[df.index[i+game_num], 'oreb_7_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 19
            df.loc[df.index[i+game_num], 'dreb_7_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 21
            df.loc[df.index[i+game_num], 'ast_7_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 22
            df.loc[df.index[i+game_num], 'tov_7_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 23
            df.loc[df.index[i+game_num], 'stl_7_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 24
            df.loc[df.index[i+game_num], 'blk_7_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
            col = 28
            df.loc[df.index[i+game_num], 'pts_7_a'] = ((df.iloc[i,col] + df.iloc[i+1,col] + df.iloc[i+2, col]
                                              + df.iloc[i+3, col] + df.iloc[i+4, col]
                                              + df.iloc[i+5, col] + df.iloc[i+6, col])/game_num)
        
        df = df[['GAME_ID','TEAM_ID','fg_pct_3_a','fg3_pct_3_a', 'ft_pct_3_a', 'oreb_3_a', 'dreb_3_a', 'ast_3_a',
                 'tov_3_a', 'stl_3_a', 'blk_3_a', 'pts_3_a', 'fg_pct_7_a', 'fg3_pct_7_a','ft_pct_7_a', 'oreb_7_a', 
                 'dreb_7_a', 'ast_7_a', 'tov_7_a', 'stl_7_a','blk_7_a', 'pts_7_a']]
        
        init = pd.concat([init, df])
        
        
    return init

In [13]:
away_logs = away_log()

In [14]:
away_logs

,GAME_ID,TEAM_ID,fg_pct_3_a,fg3_pct_3_a,ft_pct_3_a,oreb_3_a,dreb_3_a,ast_3_a,tov_3_a,stl_3_a,...,fg_pct_7_a,fg3_pct_7_a,ft_pct_7_a,oreb_7_a,dreb_7_a,ast_7_a,tov_7_a,stl_7_a,blk_7_a,pts_7_a
20,0022000015,1.610613e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,0022000021,1.610613e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0022000057,1.610613e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,0022000072,1.610613e+09,0.480000,0.384000,0.841667,12.666667,38.666667,24.666667,16.666667,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,0022000134,1.610613e+09,0.454667,0.387333,0.851333,13.333333,38.666667,24.666667,12.666667,5.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,0022000528,1.610613e+09,0.470333,0.360667,0.808000,10.000000,29.666667,23.000000,17.000000,10.666667,...,0.475429,0.393571,0.767143,10.142857,30.142857,24.714286,15.428571,9.142857,3.857143,116.142857
3,0022000535,1.610613e+09,0.497333,0.381000,0.859000,9.666667,30.666667,27.000000,17.000000,7.333333,...,0.484714,0.390429,0.824286,9.857143,29.571429,25.000000,16.000000,8.142857,4.000000,119.000000
2,0022000547,1.610613e+09,0.497333,0.407667,0.746333,10.333333,27.000000,27.333333,17.666667,8.666667,...,0.492000,0.412143,0.807714,9.857143,29.000000,25.428571,16.285714,9.142857,3.857143,119.428571
1,0022000624,1.610613e+09,0.517000,0.414667,0.771000,10.333333,32.333333,29.333333,16.333333,9.666667,...,0.501571,0.401286,0.795714,9.857143,30.428571,25.714286,17.000000,10.285714,4.285714,120.285714
0,0022000630,1.610613e+09,0.486333,0.397667,0.688000,10.333333,31.000000,27.666667,16.666667,12.333333,...,0.487429,0.377429,0.778714,9.714286,30.285714,26.000000,16.714286,10.285714,3.857143,118.857143

In [15]:
merged = home_logs.merge(away_logs, on="GAME_ID")

In [16]:
merged

,GAME_ID,TEAM_ID_x,fg_pct_3_h,fg3_pct_3_h,ft_pct_3_h,oreb_3_h,dreb_3_h,ast_3_h,tov_3_h,stl_3_h,...,fg_pct_7_a,fg3_pct_7_a,ft_pct_7_a,oreb_7_a,dreb_7_a,ast_7_a,tov_7_a,stl_7_a,blk_7_a,pts_7_a
0,0022000041,1.610613e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0022000083,1.610613e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0022000095,1.610613e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0022000110,1.610613e+09,0.453333,0.381000,0.728000,11.000000,33.333333,25.333333,16.000000,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0022000153,1.610613e+09,0.415667,0.280667,0.714000,12.333333,36.000000,23.666667,16.000000,6.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,0022000414,1.610613e+09,0.480000,0.379333,0.915667,12.333333,36.333333,24.666667,14.000000,6.000000,...,0.444286,0.320286,0.802286,9.571429,36.142857,24.000000,9.571429,6.428571,4.857143,112.142857
597,0022000459,1.610613e+09,0.484000,0.392333,0.883333,11.666667,40.000000,23.666667,17.333333,5.000000,...,0.474571,0.404571,0.736571,7.285714,37.285714,29.571429,13.428571,7.285714,4.142857,116.285714
598,0022000568,1.610613e+09,0.485333,0.404667,0.872000,9.333333,40.000000,22.000000,20.666667,5.666667,...,0.464714,0.343429,0.750714,9.000000,33.714286,26.000000,14.285714,8.857143,4.857143,107.000000
599,0022000588,1.610613e+09,0.455667,0.395333,0.858000,9.333333,36.666667,24.000000,17.000000,7.333333,...,0.476714,0.404000,0.828000,6.857143,31.714286,26.714286,13.428571,6.428571,5.000000,113.714286
600,0022000602,1.610613e+09,0.458000,0.420667,0.878667,8.000000,38.666667,26.333333,20.333333,8.666667,...,0.461571,0.322714,0.736429,13.285714,30.000000,25.285714,11.714286,6.428571,3.285714,114.714286

In [17]:
merged = merged.drop_duplicates()
merged = merged.dropna()

In [18]:
final = df.merge(merged, left_on="game_id", right_on="GAME_ID", how="right")
final.columns

Index(['game_id', 'date', 'away', 'home', 'away_id', 'home_id', 'home_win',
       'GAME_ID', 'TEAM_ID_x', 'fg_pct_3_h', 'fg3_pct_3_h', 'ft_pct_3_h',
       'oreb_3_h', 'dreb_3_h', 'ast_3_h', 'tov_3_h', 'stl_3_h', 'blk_3_h',
       'pts_3_h', 'fg_pct_7_h', 'fg3_pct_7_h', 'ft_pct_7_h', 'oreb_7_h',
       'dreb_7_h', 'ast_7_h', 'tov_7_h', 'stl_7_h', 'blk_7_h', 'pts_7_h',
       'TEAM_ID_y', 'fg_pct_3_a', 'fg3_pct_3_a', 'ft_pct_3_a', 'oreb_3_a',
       'dreb_3_a', 'ast_3_a', 'tov_3_a', 'stl_3_a', 'blk_3_a', 'pts_3_a',
       'fg_pct_7_a', 'fg3_pct_7_a', 'ft_pct_7_a', 'oreb_7_a', 'dreb_7_a',
       'ast_7_a', 'tov_7_a', 'stl_7_a', 'blk_7_a', 'pts_7_a'],
      dtype='object')

In [19]:
# Assign X (data) and y (target)
X = final[['fg_pct_3_h', 'fg3_pct_3_h', 'ft_pct_3_h',
       'oreb_3_h', 'dreb_3_h', 'ast_3_h', 'tov_3_h', 'stl_3_h', 'blk_3_h',
       'pts_3_h', 'fg_pct_7_h', 'fg3_pct_7_h', 'ft_pct_7_h', 'oreb_7_h',
       'dreb_7_h', 'ast_7_h', 'tov_7_h', 'stl_7_h', 'blk_7_h', 'pts_7_h',
        'fg_pct_3_a', 'fg3_pct_3_a', 'ft_pct_3_a', 'oreb_3_a',
       'dreb_3_a', 'ast_3_a', 'tov_3_a', 'stl_3_a', 'blk_3_a', 'pts_3_a',
       'fg_pct_7_a', 'fg3_pct_7_a', 'ft_pct_7_a', 'oreb_7_a', 'dreb_7_a',
       'ast_7_a', 'tov_7_a', 'stl_7_a', 'blk_7_a', 'pts_7_a']]
y = final["home_win"]
feature_names = X.columns
print(X.shape, y.shape)

(366, 40) (366,)

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=85)

In [21]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.5652173913043478

In [57]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=80)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.6304347826086957

In [58]:
predictions = rf.predict(X_test)
predictions

array([1., 0., 1., 1., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0.,
       1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 0.,
       1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1.,
       1., 0., 1., 1., 0., 0., 0., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 0., 0., 1., 1.])

In [59]:
y_test

120    1.0
118    0.0
239    1.0
157    1.0
42     1.0
      ...
16     1.0
48     1.0
149    1.0
95     1.0
208    0.0
Name: home_win, Length: 92, dtype: float64

In [60]:
score_df = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [61]:
score_df.loc[score_df["Prediction"] == score_df["Actual"], "Correct"] = 1

In [62]:
print(score_df["Correct"].sum()/len(score_df))

0.6304347826086957

In [63]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.043732415113185034, 'pts_3_a'),
 (0.038258794777002704, 'fg3_pct_7_a'),
 (0.037920501742044185, 'ft_pct_3_h'),
 (0.03661403243181547, 'ft_pct_7_h'),
 (0.03467763083168034, 'ft_pct_7_a'),
 (0.031658781076326206, 'fg3_pct_3_a'),
 (0.031464894049290454, 'fg_pct_3_h'),
 (0.03022738683472843, 'blk_7_a'),
 (0.030164750669587098, 'pts_7_h'),
 (0.0300970074811102, 'ast_3_h'),
 (0.02936151401637043, 'fg_pct_7_a'),
 (0.028970916383394378, 'tov_7_a'),
 (0.028955612762899912, 'fg_pct_7_h'),
 (0.028641986659586144, 'fg_pct_3_a'),
 (0.027303210961403857, 'ft_pct_3_a'),
 (0.026152412195852504, 'ast_7_a'),
 (0.025629424205340406, 'fg3_pct_7_h'),
 (0.02548095830890774, 'oreb_7_h'),
 (0.025100818568427004, 'stl_7_a'),
 (0.024548768921226954, 'pts_7_a'),
 (0.023067019411247534, 'dreb_3_a'),
 (0.02195400624240163, 'tov_7_h'),
 (0.021830821666829276, 'dreb_7_a'),
 (0.021658977548386117, 'fg3_pct_3_h'),
 (0.021605156390415804, 'oreb_3_a'),
 (0.021576466863504895, 'ast_7_h'),
 (0.020238296298531223, 'stl_7_h'),
 (0.020018285612320018, 'blk_7_h'),
 (0.02001576919006896, 'oreb_3_h'),
 (0.019441540475931662, 'dreb_7_h'),
 (0.019378408294897797, 'tov_3_h'),
 (0.019073984630884354, 'ast_3_a'),
 (0.018732238252172736, 'blk_3_h'),
 (0.01833117649960306, 'tov_3_a'),
 (0.018037150528481295, 'oreb_7_a'),
 (0.017256877986541398, 'blk_3_a'),
 (0.01683842047002367, 'pts_3_h'),
 (0.016776573263104486, 'dreb_3_h'),
 (0.01528030205477457, 'stl_3_h'),
 (0.013926710329700073, 'stl_3_a')]

In [64]:
import pickle
# save the model to disk
filename = 'forest.sav'
pickle.dump(rf, open(filename, 'wb'))