In [1]:
import pandas as pd
from nbapy import game, shot_chart, player, scoreboard, team
import datetime

In [2]:
def datascrape(start):
    start = datetime.datetime.strptime(start, "%d-%m-%Y")
    #end = datetime.datetime.strptime("21-07-2014", "%d-%m-%Y")
    end = datetime.datetime.today()
    dates = [start + datetime.timedelta(days=x) for x in range(0, (end-start).days)]
    df = pd.DataFrame({"date": dates})
    df["date"] = df["date"].astype(str)
    df[['Year', 'Month', "Day"]] = df["date"].str.split('-', 2, expand=True)
    df["Month"] = df["Month"].str.lstrip('0')
    df["Day"] = df["Day"].str.lstrip('0')
    
    #to limit to five
    #df = df.head()
    dates = []
    for i, row in df.iterrows():
        day = {}
        day["year"] = row["Year"]
        day["month"] = row["Month"]
        day["day"] = row["Day"]
        dates.append(day)
    
    init = pd.DataFrame({
    "GAME_DATE_EST_x": [],
    "GAME_ID": [],
    "TEAM_ABBREVIATION_x": [],
    "TEAM_ABBREVIATION_y": [],
    "PTS_x": [],
    "PTS_y": []
    })
    
    for date in dates:
        scores = scoreboard.Scoreboard(month=int(date["month"]), day=int(date["day"]), year=int(date["year"]), league_id='00', offset=0)
        df = scores.line_score()
        if df.empty:
            pass
        else:
            df_1 = df.drop_duplicates(subset=['GAME_ID'], keep='first')
            df_2 = df.drop_duplicates(subset=['GAME_ID'], keep='last')
            merged = df_1.merge(df_2, on=["GAME_ID"])                                                                              #FG_PCT	FT_PCT	FG3_PCT	AST	REB	TOV
            merge = merged[["GAME_DATE_EST_x", "GAME_ID", "TEAM_ABBREVIATION_x", "TEAM_ID_x", "TEAM_ID_y", "TEAM_ABBREVIATION_y", "PTS_x", "PTS_y", "FG_PCT_x", "FG_PCT_y", "FT_PCT_x", "FT_PCT_y", "FG3_PCT_x", "FG3_PCT_y", "AST_x", "AST_y", "REB_x", "REB_y", "TOV_x", "TOV_y"]]
            init = pd.concat([init, merge], sort=True)
    
    return init

In [4]:
df = datascrape("22-12-2020")

KeyboardInterrupt:

In [7]:
df["GAME_DATE_EST_x"] = df["GAME_DATE_EST_x"].str.replace("T00:00:00", "")

df = df[["GAME_DATE_EST_x",
        "GAME_ID",
        "TEAM_ABBREVIATION_x",
        "TEAM_ABBREVIATION_y",
        "PTS_x",
        "PTS_y"]]

In [8]:
df

,GAME_DATE_EST_x,GAME_ID,TEAM_ABBREVIATION_x,TEAM_ABBREVIATION_y,PTS_x,PTS_y
0,2020-12-22,0022000001,GSW,BKN,99.0,125.0
1,2020-12-22,0022000002,LAC,LAL,116.0,109.0
0,2020-12-23,0022000010,CHA,CLE,114.0,121.0
1,2020-12-23,0022000011,NYK,IND,107.0,121.0
2,2020-12-23,0022000012,MIA,ORL,107.0,113.0
...,...,...,...,...,...,...
5,2021-03-17,0022000621,SAS,CHI,106.0,99.0
6,2021-03-17,0022000622,GSW,HOU,108.0,94.0
7,2021-03-17,0022000623,MIA,MEM,85.0,89.0
8,2021-03-17,0022000624,CHA,DEN,104.0,129.0
9,2021-03-17,0022000625,LAC,DAL,89.0,105.0

In [ ]:
# Import SQL Alchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
# Get the username and password from config file
#from config import username, password

import requests
import os
import seaborn as sns
from psycopg2.extensions import register_adapter, AsIs

In [ ]:
engine = create_engine('postgres://rjwcbiog:OaptK8Zo92u-VEYN5GPg_HZB0HhUUdZ2@queenie.db.elephantsql.com:5432/rjwcbiog')
conn = engine.connect()

In [ ]:
df.to_sql(name='games', con=engine, if_exists='replace', index=False)